<template>
    <footer>
        <p class="pull-right"><a href="#">Na vrh</a></p>
        <p>&copy; 2017 Društvo za permakulturo Slovenije. &middot; <a href="#">Zasebnost</a> &middot; <a
                href="#">Pogoji</a></p>
    </footer>
</template>