<template>
    <div class="header-wrapper" v-bind:class="{shortened: shortened}">
        <div class="banner-wrapper">
            <div class="banner-carousel" v-if="!shortened">
                <div class="banner-carousel-inner">
                    <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li v-for="(article, count) in featured.spotlight"
                                :data-slide-to="count"
                                :class="{active: count == 0}"
                                data-target="#carousel"
                            ></li>
                        </ol>
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                            <carousel-item v-for="(article, count) in featured.spotlight" :article="article" :key="article.id" :count="count"></carousel-item>
                        </div>
                    </div>
                </div>
            </div>

            <div class="top-strip-wrapper">
                <div class="start-strip"></div>
                <div class="container">
                    <div class="row top-strip">
                        <div class="top-left-strip col-sm-8">
                            <div class="top-left-strip-inner col-sm-12">
                                <router-link class="logo-whole" :to="{name: 'index-home'}" exact>
                                    <div class="logo-wrapper">
                                        <span class="logo"></span>
                                    </div>
                                    <div class="logo-title">
                                        Društvo za<br>permakulturo<br>Slovenije
                                    </div>
                                </router-link>
                                <a href="#" v-click-outside="hideNav" @click.prevent="showNav" class="burger">
                                    <i class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <!--<div class="top-right-strip col-sm-4">-->
                        <!--<div class="top-right-strip-inner col-sm-12">-->

                        <!--</div>-->
                        <!--</div>-->
                    </div>
                    <transition name="slide">
                        <div class="nav" v-if="toggle">
                            <div class="container">
                                <div class="row"
                                     v-for="(parentItem, i) in menuItems"
                                     v-if="parentItem.in_navigation"
                                >
                                    <div :class="['nav-left-column', 'col-md-3', i == 0 ? 'nav-left-column-blue' : '']">
                                        <custom-link :link="parentItem.link" :type="parentItem.type">
                                            <div>
                                                <span class="title">{{ parentItem.name }}</span>
                                                <span class="description">{{ parentItem.description }}</span>
                                            </div>
                                        </custom-link>
                                    </div>
                                    <div :class="['nav-right-column', 'col-md-9', i == 0 ? 'nav-right-column-blue' : '']">
                                        <div>
                                            <ul>
                                                <li v-for="(childItem, to) in parentItem.children"
                                                    v-if="childItem.in_navigation"
                                                >
                                                    <custom-link :link="childItem.link" :type="childItem.type">
                                                        <span class="title">{{ childItem.name }}</span>
                                                        <span class="description">{{ childItem.description }}</span>
                                                    </custom-link>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </transition>
                </div>
            </div>
        </div>
        <div class="path-wrapper">
            <div class="path">
                <div class="container">
                    <ul>
                        <crumb v-for="(crumb, i) in breadcrumb" :crumb="crumb" :key="i"></crumb>
                    </ul>
                </div>
            </div>
        </div>
        <!--Replace code above with code below if you want left-extension behavior -->
        <!--<div class="container">-->
        <!--<div class="row">-->
        <!--<div class="path-wrapper col-sm-8">-->
        <!--<div class="path col-sm-12">-->
        <!--<ul>-->
        <!--<li><a href="">Permakultura.si</a></li>-->
        <!--<li><a href="">Subpage</a></li>-->
        <!--<li><a href="">Subsubpage</a></li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
    </div>
</template>

<script type="text/babel">
    import {mapGetters, mapActions} from 'vuex'
    import ClickOutside from 'vue-click-outside'
    import Link from './partial/Link.vue'
    import CarouselItem from './header/CarouselItem'
    import Crumb from './header/Crumb'

    export default{
        props: {
            shortened: {
                type: Boolean,
                default: true
            }
        },
        methods: mapActions('header', ['showNav', 'hideNav']),
        computed: {
            ...mapGetters('header', {
                toggle: 'indexHeaderNav',
                menuItems: 'indexHeaderLinks',
            }),
            ...mapGetters('routed/home', {
                featured: 'articlesFeatured'
            }),
            ...mapGetters(['breadcrumb'])
        },
        mounted() {
            if (!this.shortened) {
                $('#carousel').carousel();
            }
        },
        components: {
            CarouselItem,
            customLink: Link,
            Crumb
        },
        directives: {
            ClickOutside
        }
    }
</script>