<template>
    <div class="paginator" v-if="pages">
            <div class="form-group per-page" v-if="showPerPage">
                <select class="form-control" v-model="perPage">
                    <option>3</option>
                    <option>6</option>
                    <option>12</option>
                </select>
            </div>
            <ul class="pagination">
                <li v-show="page > 0">
                    <a href="#" aria-label="Previous" @click.prevent="prevPage">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li v-for="(i, key) in pages" :class="key === page ? 'active' : null">
                    <a href="#" @click.prevent="updatePage(key)">{{ key + 1}}</a>
                </li>
                <li v-show="pages > page + 1">
                    <a href="#" aria-label="Next" @click.prevent="nextPage">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>

    </div>

</template>

<script>
    import _ from 'lodash'
    export default {
        data: function () {
            return {
                page: 0,
                results: []
            }
        },
        props: {
            data: {
                type: Array,
                required: true
            },
            perPage: {
                type: Number,
                default: 3
            },
            showPerPage: {
                type: Boolean,
                default: true
            }
        },
        computed: {
            pages: function () {
                return _.chunk(this.data, this.perPage).length
            }
        },
        watch: {
            data(val) {
                this.loadData(val);
            },
            page(val) {
                const data = _.chunk(this.data, this.perPage)[val]
                this.results = data;
                this.$emit('update', data)
            },
            perPage(val) {
                this.page = 0
                const data = _.chunk(this.data, val)[this.page]
                this.results = data
                this.$emit('update', data)
            }
        },
        methods: {
            nextPage() {
                if(this.page < this.pages) this.page++
            },
            prevPage() {
                if(this.page > 0) this.page--
            },
            updatePage(page) {
                this.page = page
            },
            loadData(val){
                this.page = 0
                const data = _.chunk(val, this.perPage)[this.page]
                this.results = data
                this.$emit('update', data)
            }
        },
        mounted() {
            this.loadData(this.data)
        }
    }
</script>