<template>
    <div class="container-content article-container">
        <div class="col-md-8 container-content-inner-wrapper">
            <div class="col-xs-12 container-content-inner">
                <div class="details">
                    <span class="date">Datum objave: {{ article.date | moment("DD. MMMM YYYY") }}</span>
                    <span class="category">Kategorija: {{ article.category.name }}</span>
                </div>
                <h1>{{ article.name}}</h1>
                <div class="content-short">
                    <p>{{ article.content_short }}</p>
                </div>

                <event-information
                    v-if="article.events.length == 1"
                    :event="article.events[0]"
                    class="in-article-event-information">
                </event-information>

                <article-pills
                        v-if="article.references.length"
                        :article="article"
                        class="visible-xs-block visible-sm-block">
                </article-pills>
                <div class="content" v-html="article.content_rich"></div>
                <div class="content linked-events" v-if="article.events.length > 1">
                    <h2>Povezani dogodki</h2>
                    <div class="row">
                        <card v-for="event in article.events" key="event.id" :listing="true" :showImage="true"
                              :entity="event"></card>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 container-content-sidebar-wrapper">
            <sidebar>
                <sidebar-share></sidebar-share>
                <search class="hidden-xs hidden-sm sidebar-component"></search>

                <article-pills :article="article" class="hidden-xs hidden-sm"></article-pills>

                <sidebar-title>Zadnje v kategoriji <br> {{ article.category.name }}</sidebar-title>
                <sidebar-entity-list :entities="latestInCategory" :currentEntity="article"></sidebar-entity-list>
            </sidebar>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import {metadata} from '../../../services/metadata-service'

    import Card from '../../../components/partial/card'
    import Sidebar from '../../../components/partial/sidebar'
    import Search from '../../../components/partial/search-box'
    import Title from '../../../components/partial/sidebar/title'
    import EntityList from '../../../components/partial/sidebar/entity-list'
    import Share from '../../../components/partial/sidebar/share'
    import Pills from '../../../components/article/pills'
    import EventInformation from '../../../components/event/information'

    export default {
        fetch({app, params}) {
            return app.$api.fetch('routed.article.find', params)
        },
        head(){
            return metadata(this.metadata, this.$nuxt.$route)
        },
        computed: {
            ...mapGetters('routed/article', [
                'article',
                'latestInCategory'
            ]),
            ...mapGetters(['metadata']),
        },
        components: {
            sidebar: Sidebar,
            search: Search,
            sidebarTitle: Title,
            sidebarEntityList: EntityList,
            sidebarShare: Share,
            articlePills: Pills,
            card: Card,
            eventInformation: EventInformation
        },
        mounted(){
            $('body').scrollspy({target: ".spy"}); // element .spy is in article pills
        }
    }
</script>