<template>
    <div :class="['item', this.count == 0 ? 'active' : '']">
        <div class="banner-image" v-bind:style="{backgroundImage: this.coverUrl}"></div>
        <div class="banner-overlay"></div>
        <div class="banner-fader"></div>
        <div class="container">
            <router-link :to="{name: 'pages-article-show', params: {slug: article.slug}}" class="banner-info col-sm-8">
                <div class="banner-title">{{ article.name }}</div>
                <div class="banner-description">
                    {{ article.content_short | truncate(200, ' ...') }} &rsaquo;
                </div>
            </router-link>
        </div>
    </div>
</template>

<script type="text/babel">
    export default{
        data(){
            return {
                style: ''
            }
        },
        props: {
            article: {
                required: true,
                type: Object
            },
            count: {
                required: true,
                type: Number
            }
        },
        computed: {
            coverUrl() {
                return 'url(' + this.article.image_cover + ')';
            }
        }
    }
</script>

<style lang="sass" rel="stylesheet/scss">

</style>