<template>
    <div>
        <footer :class="{cookieNoticeShown: !cookieNoticeHidden}">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-8">
                        <div class="information">
                            <p>{{ information.website_name }}</p>
                            <p>{{ information.address }}</p>
                            <p><a :href="contactEmailLink">{{ information.contact_email }}</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-dark-wrapper">
                            <search></search>
                        </div>
                        <p>
                            <nuxt-link :to="information.privacy_cookies_link">O zasebnosti in piškotkih</nuxt-link>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        <div class="cookie-notice" v-if="!cookieNoticeHidden">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10">
                        Z nadaljevanjem obiska strani soglašate z uporabo <nuxt-link :to="information.privacy_cookies_link">piškotkov</nuxt-link>.
                    </div>
                    <div class="col-sm-2">
                        <button class="btn" @click.prevent="hideCookieNotice">Skrij</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import Search from '~/components/partial/search-box'
    const Cookies = require('js-cookie');

    export default {
        data(){
            return {
                cookieNoticeHidden: true
            }
        },
        components: {Search},
        computed: {
            ...mapGetters('footer', ['information']),
            contactEmailLink() {
                return 'mailto:' + this.information.contact_email
            }
        },
        methods: {
            hideCookieNotice() {
                Cookies.set('cookie-notice-hidden', true, { path: '/', expires: 365 })
                this.cookieNoticeHidden = true
            }
        },
        mounted() {
            // must be done in mounted, where ssr dont reach it - ssr doesn't get cookies
            this.cookieNoticeHidden  = !!Cookies.get('cookie-notice-hidden')
        }
    }
</script>