<template>
    <div class="header-wrapper" v-bind:class="{shortened: shortened}">
        <div class="banner-wrapper">
            <div class="banner-carousel" v-if="!shortened">
                <div class="banner-carousel-inner">
                    <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li v-for="(article, count) in featured.spotlight"
                                :data-slide-to="count"
                                :class="{active: count == 0}"
                                data-target="#carousel"
                            ></li>
                        </ol>
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                            <carousel-item v-for="(entity, count) in featured.spotlight" :entity="entity" :key="entity.id" :count="count"></carousel-item>
                        </div>
                    </div>
                </div>
            </div>

            <div class="top-strip-wrapper">
                <div class="start-strip"></div>
                <div class="container">
                    <div class="row top-strip">
                        <div class="top-left-strip col-sm-8 col-xs-12">
                            <div class="top-left-strip-inner col-xs-12">
                                <router-link class="logo-whole" :to="{name: 'index'}" exact>
                                    <div class="logo-wrapper">
                                        <span class="logo"></span>
                                    </div>
                                    <div class="logo-title">
                                        Društvo za<br>permakulturo<br>Slovenije
                                    </div>
                                </router-link>
                                <a href="#" v-click-outside="hideNav" @click.prevent="showNav" class="burger">
                                    <i class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="social">
                            <a target="_blank" rel="noopener" href="https://www.facebook.com/permakultura.si/" title="Facebook">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>
                            </a>
                            <a target="_blank" rel="noopener" href="https://www.instagram.com/permakultura.si/" title="Instagram">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>
                            </a>
                            <a class="email" href="mailto:drustvo@permakultura.si" title="Email">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
                            </a>
                        </div>
                    </div>
                    <transition name="slide">
                        <div class="nav" v-if="toggle">
                            <div class="container">
                                <div class="row"
                                     v-for="(parentItem, i) in menuItems"
                                     v-if="parentItem.in_navigation"
                                >
                                    <div :class="['nav-left-column', 'col-md-3', i == 0 ? 'nav-left-column-blue' : '']">
                                        <menu-item-link :menuItem="parentItem">
                                            <div>
                                                <span class="title">{{ parentItem.name }}</span>
                                                <span class="description">{{ parentItem.description }}</span>
                                            </div>
                                        </menu-item-link>
                                    </div>
                                    <div :class="['nav-right-column', 'col-md-9', i == 0 ? 'nav-right-column-blue' : '']">
                                        <div>
                                            <ul>
                                                <li v-for="(childItem, to) in parentItem.children"
                                                    v-if="childItem.in_navigation"
                                                >
                                                    <menu-item-link :menuItem="childItem">
                                                        <span class="title">{{ childItem.name }}</span>
                                                        <span class="description">{{ childItem.description }}</span>
                                                    </menu-item-link>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </transition>
                </div>
            </div>
        </div>
        <div class="path-wrapper">
            <div class="path">
                <div class="container">
                    <ul>
                        <crumb v-for="(crumb, i) in breadcrumb" :crumb="crumb" :key="i"></crumb>
                    </ul>
                </div>
            </div>
        </div>
        <!--Replace code above with code below if you want left-extension behavior -->
        <!--<div class="container">-->
        <!--<div class="row">-->
        <!--<div class="path-wrapper col-sm-8">-->
        <!--<div class="path col-sm-12">-->
        <!--<ul>-->
        <!--<li><a href="">Permakultura.si</a></li>-->
        <!--<li><a href="">Subpage</a></li>-->
        <!--<li><a href="">Subsubpage</a></li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
    </div>
</template>

<script type="text/babel">
    import {mapGetters, mapActions} from 'vuex'
    import ClickOutside from 'vue-click-outside'
    import MenuItemLink from './partial/menu-item-link.vue'
    import CarouselItem from './header/carousel-item'
    import Crumb from './header/crumb'

    export default{
        props: {
            shortened: {
                type: Boolean,
                default: true
            }
        },
        methods: mapActions('header', ['showNav', 'hideNav']),
        computed: {
            ...mapGetters('header', {
                toggle: 'indexHeaderNav',
                menuItems: 'indexHeaderLinks',
            }),
            ...mapGetters('routed/home', {
                featured: 'articlesFeatured'
            }),
            ...mapGetters(['breadcrumb'])
        },
        mounted() {
            if (!this.shortened) {
                $('#carousel').carousel();
            }
        },
        components: {
            CarouselItem,
            MenuItemLink,
            Crumb
        },
        directives: {
            ClickOutside
        }
    }
</script>