<template>
    <div class="initiative index">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <ul class="nav nav-pills">
                            <li><a href="#" @click.prevent="toggleFilters">Filters</a></li>

                            <li class="pull-right">
                                <form class="navbar-form navbar-right" role="search">
                                    <div class="form-group">
                                        <input type="text"
                                               class="form-control"
                                               placeholder="Search"
                                               @keyup.esc="updateSearch('')"
                                               @keyup.stop="updateSearch($event.target.value)">
                                    </div>
                                    <button class="btn btn-default" @click.prevent="clickSidebarSearch">Submit</button>
                                </form>
                            </li>
                        </ul>

                        <div class="row" v-show="filters.toggle">
                            <div class="col-md-6">
                                <p>Categories</p>
                                <label class="checkbox col-md-6" v-for="category in options.categories">
                                    <input type="checkbox" :value="category.name" v-model="filterCategories">{{category.name}}
                                </label>
                            </div>
                            <div class="col-md-6">
                                <p>Audience:</p>
                                <label class="checkbox col-md-6" v-for="a in options.audience">
                                    <input type="checkbox" :value="a.name" v-model="filterAudience">{{a.name}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>Initiatives</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4" v-for="initiative in initiatives">
                <div class="card">
                    <img class="card-img-top img-responsive" :src="initiative.cover">
                    <img class="logo img-thumbnail" :src="initiative.logo" alt="">
                    <div class="card-block">
                        <h4 class="card-title">{{initiative.name}}</h4>
                        <p class="card-text" v-html="initiative.short_description"></p>
                        <router-link :to="'/initiative/' + initiative.id" class="more"><small>More...</small></router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import {mapGetters, mapMutations, mapActions} from 'vuex'

    export default {
        computed: {
            ...mapGetters({
                initiatives: 'initiative/indexInitiatives',
                options: 'initiative/indexOptions',
                filters: 'initiative/indexFilters'
            }),
            filterCategories: {
                get() {
                    return this.$store.state.initiative.filters.selected.categories
                },
                set(value) {
                    this.$store.commit('initiative/updateSelectedCategories', value)
                }
            },
            filterAudience: {
                get() {
                    return this.$store.state.initiative.filters.selected.audience
                },
                set(value) {
                    this.$store.commit('initiative/updateSelectedAudience', value)
                }
            }
        },
        methods: {
            ...mapMutations({
                updateSearch: 'initiative/updateSearch',
                toggleFilters: 'initiative/toggleFilters'
            }),
            ...mapActions([
                'initiative/clickSidebarSearch'
            ])
        },
        created() {
            this.$store.dispatch('initiative/getInitiatives')
            this.$store.dispatch('initiative/getOptions')
        }
    }
</script>