<template>
    <micelij-component></micelij-component>
</template>

<script>
    import MicelijComponent from '../../../components/micelij'

    export default {
        components: {
            MicelijComponent
        }
    }
</script>