<template>
    <div class="initiative show">
        <h1 class="title">{{ initiative.name }}</h1>

        <hr class="gradient">

        <div class="row project-about">

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-7">
                        <figure class="figure mb-4">
                            <img class="img-responsive" :src="initiative.cover ">
                        </figure>

                    </div>
                    <div class="col-md-4 col-md-offset-1">
                        <dl class="row project-details mb-2">
                            <dd class="col-md-12 mb-5">{{ initiative.short_description }}</dd>

                            <dt class="col-md-4">Status:</dt>
                            <dd class="col-md-8"><h5 class="mt-0"><span class="badge badge-info">{{ initiative.status_value }}</span></h5></dd>

                            <dt class="col-md-4">Audience:</dt>
                            <dd class="col-md-8">{{ initiative.audience_size_value}}</dd>

                            <dt class="col-md-4">Type:</dt>
                            <dd class="col-md-8">{{ initiative.location_type_value }}</dd>

                            <dt class="col-md-4">Locations:</dt>
                            <dd class="col-md-8"><span v-for="location in initiative.locations">{{location.name}}<br></span></dd>
                        </dl>

                        <gmap-map
                                v-if="initiative.locations"
                                :center="initiative.locations[0].position"
                                :zoom="14"
                                style="width: 100%; height: 250px"
                        >
                            <gmap-marker
                                    :key="location.id"
                                    v-for="location in initiative.locations"
                                    :position="location.position"
                                    :clickable="false"
                                    :draggable="false"
                            ></gmap-marker>
                        </gmap-map>

                    </div>
                </div>

                <hr class="gradient">
            </div>

            <div class="col-md-7 br">
                <div class="project-info">
                    <div class="description" v-html="initiative.description"></div>

                    <div class="embed-responsive embed-responsive-16by9 mb-4">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/HTdd2Hq4ut4"></iframe>
                    </div>
                </div>

            </div>

            <div class="col-md-offset-1 col-md-4">

                <div class="card project-support card-outline-success mb-4">

                    <div class="card-block">
                        <h4 class="card-title">Supports</h4>
                        <hr class="gradient">
                        <h6 class="card-subtitle mb-2 text-muted">122</h6>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="media align-items-center">
                                    <img class="d-flex rounded align-self-center mr-3" src="https://placehold.it/50x50?text=avatar" alt="" style="width: 35px">
                                    <div class="media-body text-muted">
                                        Short description or quote...
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="media align-items-center">
                                    <img class="d-flex rounded align-self-center mr-3" src="https://placehold.it/50x50?text=avatar" alt="" style="width: 35px">
                                    <div class="media-body text-muted">
                                        Short description or quote...
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="media align-items-center">
                                    <img class="d-flex rounded align-self-center mr-3" src="https://placehold.it/50x50?text=avatar" alt="" style="width: 35px">
                                    <div class="media-body text-muted">
                                        Short description or quote...
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item text-muted">...</li>
                        </ul>

                        <a href="#" class="card-link">More...</a>
                    </div>

                </div>


                <div class="card project-advice card-outline-primary mb-4">
                    <div class="card-block">
                        <h4 class="card-title">Advices</h4>
                        <hr class="gradient">
                        <h6 class="card-subtitle mb-2 text-muted">3</h6>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                        <a href="#" class="card-link">More...</a>
                    </div>
                </div>


            </div>
        </div>
    </div>
</template>

<script>
    import * as VueGoogleMap from 'vue2-google-maps'
    import {mapGetters} from 'vuex'

    export default {
        computed: mapGetters({
            initiative: 'initiative/show'
        }),
        created() {
            this.$store.dispatch('initiative/find')
        },
        components: {
            'gmap-map': VueGoogleMap.Map,
            'gmap-marker' : VueGoogleMap.Marker,
        }
    }
</script>