<template>
    <div class="article">
        <h2>Articles</h2>

        <a href="#" @click.prevent="toggleFilters">Filters</a>

        <div class="row" v-show="toggle">
            <div class="col-md-12">
                <select @change="updateSort($event.target.value)">
                    <option value="_score">Relevance</option>
                    <option value="created_at">Date</option>
                </select>
                <select @change="updateOrder($event.target.value)">
                    <option value="desc">Desc</option>
                    <option value="asc">Asc</option>
                </select>
            </div>
            <div class="col-md-6">
                <p>Categories</p>
                <label class="checkbox col-md-6" v-for="category in options.categories">
                    <input type="checkbox" :value="category.name" v-model="filterCategories">{{category.name}}
                </label>
            </div>
            <div class="col-md-6">
                <p>Tags:</p>
                <label class="checkbox col-md-6" v-for="t in options.tags">
                    <input type="checkbox" :value="t.name" v-model="filterTags">{{t.name}}
                </label>
            </div>
        </div>

        <div class="row">
            <card v-for="article in articles" :key="article.id" :entity="article" :showImage="true" :type="'article'"></card>
        </div>
        <paginator :data="data" @update="updateResults"></paginator>
    </div>
</template>

<script>
    import {mapGetters, mapActions, mapMutations} from 'vuex'
    import Paginator from '../Paginator'
    import Card from '../partial/Card'

    export default {
        computed: {
            ...mapGetters('search', {
                articles: 'indexArticleResults',
                data: 'indexArticleList',
                toggle: 'indexArticleToggle',
            }),
            ...mapGetters('article', {
                options: 'indexOptions'
            }),
            filterCategories: {
                get() {
                    return this.$store.state.search.article.filters.categories
                },
                set(value) {
                    let field = 'categories'
                    this.$store.dispatch('search/updateArticleFilter', {field, value})
                }
            },
            filterTags: {
                get() {
                    return this.$store.state.search.article.filters.tags
                },
                set(value) {
                    let field = 'tags'
                    this.$store.dispatch('search/updateArticleFilter', {field, value})
                }
            },
        },
        methods: {
            ...mapMutations('search', {
                toggleFilters: 'UPDATE_ARTICLE_TOGGLE',
                updateResults: 'UPDATE_ARTICLE_RESULTS',
            }),
            ...mapActions('search', {
                updateSort: 'updateArticleSort',
                updateOrder: 'updateArticleOrder'
            })
        },
        created() {
            this.$store.dispatch('article/getOptions')
        },
        components: {
            Paginator,
            Card
        }
    }
</script>