<template>
    <div class="event">
        <h2>Events</h2>

        <div class="row">
            <card v-for="event in events" :key="event.id" :entity="event" :showImage="true" :type="'event'"></card>
        </div>

        <paginator :data="data" @update="updateResults" :show-per-page="false" :per-page="6"></paginator>
    </div>
</template>

<script>
    import {mapGetters, mapActions, mapMutations} from 'vuex'
    import Paginator from '../Paginator.vue'
    import Card from '../partial/Card'

    export default {
        computed: {
            ...mapGetters('search', {
                events: 'indexEventResults',
                data: 'indexEventList',
            }),
        },
        methods: {
            ...mapMutations('search', {
                updateResults: 'UPDATE_EVENT_RESULTS'
            })
        },
        components: {
            Paginator,
            Card
        }
    }
</script>