<template>
    <div class="initiative">
        <div class="row">
            <div class="col-md-12">
                <h2>Initiatives</h2>

                <a href="#" @click.prevent="toggleInitiative">Filters</a>

                <div class="row" v-show="toggleFilters">
                    <div class="col-md-12">
                        <select @change="updateSort($event.target.value)">
                            <option value="_score">Relevance</option>
                            <option value="created_at">Date</option>
                        </select>
                        <select @change="updateOrder($event.target.value)">
                            <option value="desc">Desc</option>
                            <option value="asc">Asc</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <p>Categories</p>
                        <label class="checkbox col-md-6" v-for="category in options.categories">
                            <input type="checkbox" :value="category.name" v-model="filterInitiativeCategories">{{category.name}}
                        </label>
                    </div>
                    <div class="col-md-4">
                        <p>Audience:</p>
                        <label class="checkbox col-md-6" v-for="a in options.audience">
                            <input type="checkbox" :value="a.name" v-model="filterInitiativeAudience">{{a.name}}
                        </label>
                    </div>
                    <div class="col-md-4">
                        <p>Tags:</p>
                        <label class="checkbox col-md-6" v-for="t in options.tags">
                            <input type="checkbox" :value="t.name" v-model="filterInitiativeTags">{{t.name}}
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4" v-for="i in initiatives">
                <div class="initiative card">
                    <img class="card-img-top img-responsive" :src="i.cover">
                    <img class="logo img-thumbnail" :src="i.logo" alt="">
                    <div class="card-block">
                        <h4 class="card-title">{{i.name}}</h4>
                        <p class="card-text" v-html="i.short_description"></p>
                        <router-link :to="'/initiative/' + i.id" class="more"><small>More...</small></router-link>
                    </div>
                </div>
            </div>
        </div>

        <paginator :data="data" @update="updateResults" :per-page="6"></paginator>
    </div>
</template>

<script>
    import {mapGetters, mapActions, mapMutations} from 'vuex'
    import Paginator from '../Paginator.vue'

    export default {
        computed: {
            ...mapGetters('search', {
                initiatives: 'indexInitiativeResults',
                data: 'indexInitiativeList',
                toggleFilters: 'indexInitiativeToggle',
            }),
            ...mapGetters('initiative', {
                'options': 'indexOptions'
            }),
            filterInitiativeCategories: {
                get() {
                    return this.$store.state.search.initiative.filters.categories
                },
                set(value) {
                    let field = 'categories'
                    this.$store.dispatch('search/updateInitiativeFilter', {field, value})
                }
            },
            filterInitiativeAudience: {
                get() {
                    return this.$store.state.search.initiative.filters.audience
                },
                set(value) {
                    let field = 'audience'
                    this.$store.dispatch('search/updateInitiativeFilter', {field, value})
                }
            },
            filterInitiativeTags: {
                get() {
                    return this.$store.state.search.initiative.filters.tags
                },
                set(value) {
                    let field = 'tags'
                    this.$store.dispatch('search/updateInitiativeFilter', {field, value})
                }
            }
        },
        methods: {
            ...mapMutations('search', {
                toggleInitiative: 'UPDATE_INITIATIVE_TOGGLE',
                updateResults: 'UPDATE_INITIATIVE_RESULTS'
            }),
            ...mapActions('search', {
                updateSort: 'updateInitiativeSort',
                updateOrder: 'updateInitiativeOrder'
            })
        },
        created() {
            this.$store.dispatch('initiative/getOptions')
        },
        components: {
            Paginator
        }
    }
</script>