<template>
    <div class="input-box-wrapper">
        <form @submit.prevent="search" class="shaded search">
            <div class="input-group input-group-query">
                <input
                        type="text"
                        class="form-control"
                        placeholder="Iskanje po vseh člankih in dogodkih ..."
                        autofocus
                        :value="query"
                        @input="updateQuery($event.target.value)"
                >
                <div class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </div>
        </form>
        <!--<div class="search-box">-->
        <!--<button @click.prevent="searchAll">Search</button>-->
        <!--<input type="text" :value="query" @input="updateQuery($event.target.value)">-->
        <!--</div>-->
    </div>
</template>

<script>
    import {mapGetters, mapActions, mapMutations} from 'vuex'
    export default {
        computed: {
            ...mapGetters('search', {
                'query': 'indexQuery',
            }),
        },
        methods: {
            ...mapActions('search', {
                search: 'searchAll'
            }),
            ...mapMutations('search',{
                'updateQuery': 'UPDATE_QUERY',
            })
        },
    }
</script>