<template>
    <div class="panel panel-default sidebar-component">
        <div class="panel-heading">Panel heading</div>
        <div class="panel-body">
            Panel content
        </div>
    </div>
</template>

<script type="text/babel">
    export default{
        data(){
            return {}
        }
    }
</script>