<template>
    <div class="sidebar-component-description">
        <slot></slot>
    </div>
</template>

<script type="text/babel">
    export default{
        data(){
            return {}
        }
    }
</script>

<style lang="sass" rel="stylesheet/scss">

</style>