<template>
    <form @submit.prevent="search" class="shaded search sidebar-component">
        <div class="input-group input-group-query">
            <input
                type="text"
                class="form-control"
                placeholder="Iskanje po vseh člankih ..."
                v-model="value"
            >
            <div class="input-group-btn">
                <button class="btn btn-primary" type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
        </div>
    </form>
</template>

<script type="text/babel">
    export default{
        data(){
            return {
                value: ''
            }
        },
        methods: {
            search() {
                //todo articles only search
                this.$router.push({name: 'pages-search', query: {search: this.value}})
            }
        }
    }
</script>