<template>
    <div class="sidebar-component-share">
        <div class="fb-like" :data-href="$route.fullPath" data-layout="button" data-action="recommend" data-size="large" data-show-faces="false" data-share="true"></div>
    </div>
</template>

<script type="text/babel">
    export default{
        data(){
            return {}
        }
    }
</script>
