<template>
    <div class="sidebar-component-title">
        <span>
            <slot></slot>
        </span>
    </div>
</template>

<script type="text/babel">
    export default{
        data(){
            return {}
        },
        props: {
            short: {
                type: Boolean,

            }
        }
    }
</script>
