<template>
    <div class="pill-content" v-show="active">
        <slot></slot>
    </div>
</template>

<script type="text/babel">
    export default{
        data(){
            return {}
        },
        props: {
            name: String
        },
        computed: {
            active() {
                return this.$parent.activePill === this.name
            }
        },
    }
</script>

<style lang="sass" rel="stylesheet/scss">

</style>