<template>
    <li :class="{active: active}"><a href="#" v-on:click.prevent="clickPill"><slot></slot></a></li>
</template>

<script type="text/babel">
    export default{
        props: {
            name: String
        },
        methods: {
            clickPill(){
                this.$parent.$emit('update:clickPill', this.name)
            }
        },
        computed: {
            active() {
                return this.$parent.activePill === this.name
            }
        }
    }
</script>

<style lang="sass" rel="stylesheet/scss">

</style>