@import "variables";
@import "mixins";

footer {
  width: 100%;
  background: linear-gradient($scheme-dark-gray, $scheme-gray);

  &.cookieNoticeShown {
    padding-bottom: 44px; //additional 44px from cookie notice
  }

  .container {
    padding: 40px 20px;
    color: rgba(255, 255, 255, 0.9);

    a {
      display: inline-block;
      border-bottom: 1px dashed rgba(255, 255, 255, 0.9);
      color: rgba(255, 255, 255, 0.9);
      text-decoration: none;

      &:hover {
        color: #fff;
        border-bottom: 1px solid #fff;
      }
    }

    .information {
      @include media-breakpoint-down(sm) {
        text-align: center;
        margin-bottom: 40px;
      }
    }

    form.search{
      margin-bottom: 24px;
    }
  }
}


.form-dark-wrapper form {
  input {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    border: 1px solid lighten($scheme-light-gray, 10%);
    border-right: 0 !important;
    //@include transition(none);

    $placeholder-footer-color: rgba(255, 255, 255, 0.85);
    @include placeholder($placeholder-footer-color);

    &:focus {
      border-color: $scheme-vueish-dark;

      & + .input-group-btn button.btn {
        border-color: $scheme-vueish-dark;
      }
    }

    &:disabled {
      background: rgba(255, 255, 255, 0.1);
    }
  }

  button.btn {
    border: 1px solid lighten($scheme-light-gray, 10%);
    border-left: 0 !important;
    @include transition(border-color ease-in-out .15s);
  }

  &.error {
    input {
      @include placeholder($scheme-light-red);
      border: 1px solid $scheme-red;

      &:focus {
        border-color: $scheme-light-red;

        & + .input-group-btn button.btn {
          border-color: $scheme-light-red;
        }
      }
    }

    button.btn {
      border: 1px solid $scheme-red;
      background: $scheme-red;

      &:focus, &:active, &:hover {
        border: 1px solid $scheme-red !important;
        border-left: 0 !important;
        background: $scheme-red !important
      }
    }
  }

  &.success {
    input {
      @include placeholder($scheme-vueish);
      border: 1px solid $scheme-vueish-dark;
    }

    button.btn {
      border: 1px solid $scheme-vueish-dark;
    }
  }
}

.cookie-notice {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: $scheme-darker-gray;
  color: rgba(255, 255, 255, 0.9);
  padding: 8px 0;
  line-height: 26px;
  z-index: 8;

  button {
    width: 100%;
    padding: 0;
    line-height: 24px;
  }
}