@import "variables";
@import "mixins";

$logo-wh-ratio: 79/100;
$logo-height: 61px;

.top-strip-wrapper {
  width: 100%;
  height: 100%;
  z-index: 10;

  .start-strip {
    width: 100%;
    height: 5px;
    position: relative;
    background: $scheme-darker-gray;
    //background: #515e5e;
  }

  .container {
    /*position: relative*/
  }

  .top-strip {
    display: flex;
    position: relative;
    z-index: 6;

    .top-left-strip {
      //width: 260px;
      display: inline-flex;

      .top-left-strip-inner {
        @include extend-left();

        padding: 15px 10px 13px 0px;
        background: $scheme-light-beige;
        border-bottom-right-radius: 3px;
        -webkit-filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.2));
        filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.2));

        &:before {
          background: $scheme-light-beige;

        }
      }

      a.logo-whole {
        display: inline-block;
        height: 63px;

        .logo-wrapper {
          float: left;

          .logo {
            margin-top: 2px;
            width: $logo-wh-ratio * $logo-height;
            background: url("~static/images/assets/logo_bw_black_nobracket_small.png");
            height: $logo-height;
            display: inline-block;
            -webkit-background-size: 100% 100%;
            vertical-align: middle;
          }
        }

        .logo-title {
          font-family: $font-family-serif;
          font-weight: 700;
          float: left;
          color: $scheme-black;
          line-height: 23px;
          //padding-top: 3px;
          margin-left: 18px;
          font-size: 14px;
        }

        &:hover {
          .logo-wrapper, .logo-title {
            opacity: 0.8;
          }
        }
      }

      a.burger {
        color: $brand-primary;
        height: $logo-height;
        line-height: $logo-height;
        padding: 0 10px;
        display: inline-block;
        float: right;
        font-size: 22px;
      }
    }

    .top-right-strip {
      flex-grow: 1;
      display: inline-flex;

      .top-right-strip-inner {
        background: $scheme-light-beige;
        width: 100%;
        padding: 15px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;

        .navbar-collapse {
          padding-left: 0;
          padding-right: 0;
        }

        ul.nav li.dropdown:hover > ul.dropdown-menu {
          display: block;
        }
      }
    }
  }
}

/**
    Navigation transitions
*/
.slide-enter-active {
  transition: all .3s ease;
}

.slide-leave-active {
  transition: all .3s ease;
}

.slide-enter, .slide-leave-to
  /* .slide-fade-leave-active for <2.1.8 */
{
  transform: translateY(-20px);
  opacity: 0;
}

.header-wrapper {

  .path {
    @include extend-left();
    display: none;
    background: $scheme-gray;
    border-bottom-right-radius: 3px;
    padding-left: 0;

    &:before {
      background: $scheme-gray;

    }

    ul {
      margin: 0;
      padding: 8px 0;
      list-style: none;
      overflow: hidden;
      clear: both;

      li {
        float: left;

        a {
          color: rgba(255, 255, 255, 0.9);
          font-size: 15px;
          font-weight: bold;
          line-height: 1.6;
          text-decoration: none;
          padding-bottom: 0;
          border-bottom: 1px solid transparent;
          display: inline-block;

          &:hover {
            color: #fff;
            border-bottom: 1px dashed rgba(255, 255, 255, 1);
          }
        }

        &:after {
          content: '>';
          color: #fff;
          font-weight: bold;
          padding: 0 12px;
        }
        &:last-child:after {
          content: ''
        }
      }
    }
  }

  &.shortened {
    .banner-wrapper {
      height: 102px;
      background: $scheme-dark-gray;
    }

    .top-left-strip-inner {
      //-webkit-filter: initial !important;
      //filter: initial !important;
      border-bottom-right-radius: 0 !important;
    }

    .path {
      display: block;
    }
  }
}

.banner-wrapper {
  height: 450px;
  width: 100%;

  .banner-carousel {
    position: absolute;
    height: 450px;
    width: 100%;

    .banner-carousel-inner {
      height: 450px;
      width: 100%;
      position: absolute;

      .carousel-indicators li {
        margin: 0 5px;
      }

      .carousel,
      .carousel-inner,
      .carousel-inner .item {
        height: 450px
      }

      .carousel-fade {
        .carousel-inner {
          .item {
            transition-property: opacity;

            .banner-overlay {
              height: 450px;
              width: 100%;
              background: url(~static/images/assets/broken-noise.png);
              position: absolute;
              opacity: 0.7;
              z-index: 2;
            }

            .banner-fader {
              height: 450px;
              width: 100%;
              background: url(~static/images/bg_gradient_large.png) center repeat-y;
              background-size: 100%;
              position: absolute;
              z-index: 2;
            }

            .banner-image {
              height: 450px;
              width: 100%;
              -webkit-background-size: auto 100%;
              background-size: auto 100%;
              background-position: center 0;
              position: absolute;
              z-index: 2;
            }

            .container {
              position: relative;
              z-index: 4;
              height: 450px;

              .banner-info {
                //background: rgba(0,0,0, 0.2);
                //height: 190px;
                position: absolute;
                z-index: 4;
                bottom: 75px;
                left: 0;
                text-decoration: none;

                .banner-title {
                  color: #fff;
                  font-family: $font-family-serif;
                  font-weight: bold;
                  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.8);
                  font-size: 36px;
                  margin-bottom: 15px;
                  //background: rgba(0, 0, 0, 0.2);
                  line-height: 1.3;

                  @include media-breakpoint-down(md){
                    font-size: 26px;
                  }
                }

                &:hover .banner-title {
                  //color: #fff;
                }

                .banner-description {
                  color: #fff;
                  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7);
                  font-size: 16px;
                  font-family: $font-family-serif;
                  line-height: 1.6;
                  font-weight: bold;

                  @include media-breakpoint-down(md) {
                    font-size: 14px;
                  }
                }
              }
            }
          }

          .item,
          .active.left,
          .active.right {
            opacity: 0;
          }

          .active,
          .next.left,
          .prev.right {
            opacity: 1;
          }

          .next,
          .prev,
          .active.left,
          .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
          }
        }

        .carousel-indicators {
          z-index: 2;
        }
      }
    }
  }

  .nav {
    position: absolute;
    /*width: 100%;*/
    top: 102px;
    left: 0;
    right: 0;
    background-clip: padding-box;
    z-index: 5;
    -webkit-filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.2));

    .row {
      margin-bottom: 0;

      &:last-child {
        .nav-left-column, .nav-left-column:before, .nav-right-column, .nav-right-column:before {
          border-bottom: 1px solid #fff !important;
        }
      }

      .nav-left-column {
        @include nav-column(#e9e9e9, 1px solid #ccc, 1px solid $scheme-light-beige);
        @include extend-left();

        &-blue {
          @include nav-column-blue($scheme-green, 1px solid $scheme-dark-green, 1px solid $scheme-dark-green);
        }

        & > a {
          color: $scheme-black;
          font-size: 14px;
          display: table;
          font-weight: 700;
          width: 100%;
          height: 100px;
          text-decoration: none;

          & > div {
            display: table-cell;
            vertical-align: middle;

            & > span.title {
              display: inline-block;
              border-bottom: 1px dashed $gray-dark;
              font-family: $font-family-serif;
            }

            & > span.description {
              @include nav-link-description();
            }
          }

          &:hover {
            span.title {
              border-bottom: 1px solid $scheme-black;
            }
          }
        }
      }
      .nav-right-column {
        @include nav-column(#f5f5f5, 1px dashed #ccc, 1px solid #fff);
        @include extend-right();

        &-blue {
          @include nav-column-blue($scheme-light-green, 1px dashed $scheme-green, 1px solid $scheme-light-green);

          a.active {
            span.title {
              background: $scheme-green !important;
            }
          }
        }

        & > div {
          display: table;
          height: 100px;
          width: 100%;

          & > ul {
            width: 100%;
            list-style-type: none;
            padding-left: 15px;
            margin-bottom: 0;
            display: table-cell;
            vertical-align: middle;

            /* two items */
            li:first-child:nth-last-child(2),
            li:first-child:nth-last-child(2) ~ li {
              width: 50%;
            }

            /* three items */
            li:first-child:nth-last-child(3),
            li:first-child:nth-last-child(3) ~ li {
              width: 33.3333%;
            }

            /* four items */
            li:first-child:nth-last-child(4),
            li:first-child:nth-last-child(4) ~ li {
              width: 25%;
            }

            li {
              padding-right: 30px;
              float: left;

              a {
                font-weight: 700;
                text-decoration: none;
                color: $brand-primary;

                span.title {
                  display: inline-block;
                  font-weight: 700;
                  border-bottom: 1px dashed $gray-mid-light;
                  font-size: 14px;
                }
                span.description {
                  @include nav-link-description();
                }

                &:hover span.title {
                  border-bottom: 1px solid $gray-light;
                }

                &.active {
                  span.title {
                    border-radius: 3px;
                    background: #dadada;
                    border-bottom: 0;
                    padding: 0px 6px;
                  }
                }
              }
            }
          }
        }
      }
    }

    &.nav-disabled-link-description {
      .nav-right-column {
        span.description {
          display: none !important;
        }
      }
    }
  }
}

.social {
  padding-top: 7px;
  padding-right: 20px;

  a {
    display: block;
    width: 30px;
    height: 27px;
    padding: 4px 5px;
    color: $scheme-light-beige;
    text-align: center;

    &:hover {
      color: $scheme-green;
    }
  }
}

/**
RESPONSIVE CSS
*/

@include media-breakpoint-down(md) {
  .nav .container {
    width: 100%;
  }
  .nav-right-column > div > ul {
    padding-left: 0 !important;
  }
}

@include media-breakpoint-down(sm) {
  .nav-right-column {
    height: auto !important;

    &:before {
      display: none !important
    }

    div {
      height: auto !important;

      & > ul {
        padding-top: 15px;
        padding-bottom: 10px;

        li {
          float: none !important;
          width: 100% !important;
          margin-bottom: 10px !important;
          clear: both !important;

          a {
            display: block;
            overflow: hidden;

            span {
              float: left !important;

              &.description {
                padding-top: 0 !important;

                &:before {
                  content: '--';
                  padding-left: 10px;
                  padding-right: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .banner-wrapper .nav .row .nav-right-column>div>ul li a span.description {
    display: none;
  }
}