$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

@import "variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bootswatch";
@import "node_modules/bootstrap-social/bootstrap-social.scss";
//@import "node_modules/bootstrap-3-card/sass/card.scss";

@import "mixins";
@import "utilities";

/**
  Transitioning on route change
 */
.page-enter-active, .page-leave-active
{
  transition: none;/*opacity .5s*/
}
.page-enter, .page-leave-active
{
  opacity: 0
}

/**
  Progress bar
 */
.progress {
  border: 0;
}

/**
  Vue multi-select
 */
.multiselect {
  z-index: 3;
  color: $gray;

  .multiselect__tags {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-color: #ccc;
  }

  .multiselect__content-wrapper {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-color: #ccc;
  }

  &.multiselect--active{
    z-index: 4 !important;

    .multiselect__content-wrapper {
      z-index: 4 !important;
    }
  }

  .multiselect__option--highlight {
    background: $scheme-vueish;

    &:after {
      background-color: $scheme-vueish;
    }
  }

  .multiselect__tag{
    background: $scheme-vueish;
  }

  .multiselect__tag-icon:hover {
    background: $scheme-vueish-dark;
  }

  * {
    -webkit-transition-property: none;
    -moz-transition-property: none;
    -ms-transition-property: none;
    -o-transition-property: none;
    transition-property: none;
  }
}
/**
  Image lazy loading
 */
img[lazy=loading] {
  opacity: 0;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
img[lazy=loaded] {
  opacity: 1;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

/**
  Lightbox
 */
.lightbox {
  z-index: 10 !important
}
.lightbox__close {
  z-index: 10;
}
.lightbox__image {
  height: 100vh;
  line-height: 100vh;
  text-align: center;

  img {
    max-width: 80%;
    max-height: 80%;
    width:auto !important;
    //position: relative;
    //top: 50%;
    //transform: translateY(-50%);
  }
}

/**
  Override bootstrap framework defaults
 */

h4 {
  margin-top: 25px;
}
.container {
  padding-left: 20px;
  padding-right: 20px;
}
.row {
  //margin-bottom: 20px;
  margin-left: -20px;
  margin-right: -20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
[class*='col-'] {
  padding-left: 20px;
  padding-right: 20px;
}

/*
  Finally, a space for custom css.
 */

body {
  overflow-x: hidden;
  //background: $scheme-light-beige;
}

.nav .row .nav-left-column-blue .link,.nav .row .nav-left-column-blue:before .link {
  font-family: $font-family-serif;
  color: #fff;//$scheme-darker-green;
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
}

.main-layout {

  &.index{
    background: $scheme-light-beige;
  }
  &.pages {
    background: #fff;
  }
  &.error {
    height: 100vh;
    display: table;
    width: 100%;

    *{
      font-family: $font-family-sans-serif !important;
    }

    .main-container-wrapper{
      display: table-cell;
      vertical-align: middle;

      h2 {
        font-size: 24px;
        margin-bottom: 40px;
      }

      a{
        display: inline-block;
        width: 100%;
        padding: 10px;
        background: $scheme-vueish;
        border: 1px solid $scheme-vueish-dark;
        text-align: center;
        color: #fff;
        font-size: 16px;
        margin-top: 10px;
        font-weight: bold;
        text-decoration: none;

        &:hover {
          background: lighten($scheme-vueish, 5%);
        }
      }
    }
  }
}

.main-container-wrapper {
  background: linear-gradient($scheme-lightest-beige, #fff);
  background-size:auto 200px;
  background-repeat: repeat-x;
}

.main-container {
  padding-bottom: 30px;
  //background: $scheme-lightest-beige;

  .container-content {
    padding-bottom: 30px;
    //overflow: hidden;
    min-height: 700px;

    .container-content-inner-wrapper {
      .container-content-inner {
        padding-top: 30px;
        padding-left: 0;
        padding-right: 0;
        position: relative;

        h1 {
          margin-bottom: 20px;
          clear: both;
        }
      }
    }

    .container-content-sidebar-wrapper {
      .container-content-sidebar {
        padding-top: 20px;
        padding-bottom: 30px;
        position: relative;
        z-index: 1;

        @include media-breakpoint-down(md) {
          padding-bottom: 0;
        }

        .sidebar-component {
          margin-bottom: 20px;

          &:last-child {
            margin-bottom: 0
          }
        }

        .sidebar-component-share {
          margin-bottom: 20px;
        }

        .sidebar-component-description {
          margin-bottom: 20px;
          border: 1px solid #ddd;
          padding: 10px 15px;
          font-size: 12px;
        }

        .sidebar-component-title{
          text-align: center;
          span {
            background: $scheme-vueish;
            border: 1px solid $scheme-vueish-dark;
            //border-radius: 15px;
            font-family: $font-family-serif;
            display: block;
            padding: 10px 15px;
            color: #fff;
            margin-bottom: 0px;
            line-height: 16.8px;
            font-size: 13px;
            font-weight: bold;
            text-shadow: 0 1px 0 rgba(0,0,0, 0.2);
          }
        }

        .sidebar-component-entity-list {
          a {
            color: #222;

            &:hover {
              background: #eee;
            }

            &.active {
              color: #fff;
              background: $scheme-gray;
            }
          }
        }
      }
    }
  }

  hr.divider {
    margin: 30px 0;
  }
}

form {
  .input-group {
    input.form-control {
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
      font-family: $font-family-sans-serif;
      &:focus {
        border: 1px solid $scheme-vueish
      }
    }
  }
}

button.btn {
  background: $scheme-vueish;
  border: 1px solid darken($scheme-vueish, 10%);
  outline:none !important;
  font-weight: 700;
  color: #fff !important;
  text-shadow: 0 1px 0 rgba(0,0,0,.2);

  &:hover {
    background: lighten($scheme-vueish, 5%);
  }
  &:focus {
    background: $scheme-vueish !important;
  }
  &:hover, &:focus {
    border: 1px solid darken($scheme-vueish, 10%) !important;
  }
}

.center-social {
  margin-top: 15px;
  width: 468px;
  @include center-block;
}

.social-or-not {
  padding: 35px 0;
}

.initiative-details {
  width: 100%;
  height: calc(80vh - 45px);
  display: table;
}

hr.gradient {
  border: 0;
  height: 1px;
  background: $gradient_color;
}

//  add custom container media query rules

@include media-breakpoint-only(xl) {
.container {
    width: 1000px + $grid-gutter-width;
  }
}


@import "header";
@import "footer";
@import 'micelij';
@import 'cards';
@import "calendar";
@import "initiatives";
@import "about_us";
@import "user_panel";
@import "home";
@import "article_event";
@import "search";

@import "featherlight";