@import "variables";
@import "mixins";

.article-container, .event-container {
  font-family: $font-family-serif;
  display: flex;
  flex-wrap: wrap;

  .container-content-inner {
    &>.details {
      overflow: hidden;

      span {
        font-size: 12px;
        color: #222;
        background: #eee;
        padding: 4px 12px 3px;
        display: inline-block;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;

        &.date {
          float: left;
        }
        &.category {
          float: right;
        }
      }
    }

    h1 {
      line-height: 1.2;
    }

    .content {
      p {
        text-align: left;
        line-height: 24px;
        clear: both;
        font-size: 14px;
      }

      blockquote {
        border-left-width: 5px;
        font-size: 19px;
        line-height: 30px;
        margin: 20px 0;
      }

      ul>li, ol>li {
        text-align: left;
        line-height: 24px;
        margin-bottom: 20px;
        clear: both;
        font-size: 14px;
      }

      ul>li {
        list-style: circle;
      }

      h2 {
        @include extend-left();
        position: relative;
        background: #eee;
        padding-top: 20px;
        margin-bottom: 20px;
        margin-top: 25px;
        padding-bottom: 6px;
        line-height: 1.3;
        clear: both;

        &:before {
          background-color: #eee;
        }
      }
      h3 {
        line-height: 32px;
        margin-top: 30px;
        margin-bottom: 20px;
      }

      .quasi-button {
        display: block;
        text-decoration: none;
        margin: 15px auto 0;
        width: 60%;
        text-align: center;
        padding: 10px 15px;
        line-height: 25px;
        font-size: 15px;
        background: $scheme-vueish;
        border: 1px solid darken($scheme-vueish, 10%);
        outline:none !important;
        font-weight: 700;
        color: #fff !important;
        text-shadow: 0 1px 0 rgba(0,0,0,.2);
        clear: both;

        &:hover {
          background: lighten($scheme-vueish, 5%);
        }
        &:active {
          background: darken($scheme-vueish, 5%) !important;
        }
        &:hover, &:focus {
          border: 1px solid darken($scheme-vueish, 10%) !important;
        }

        @include media-breakpoint-down(sm){
          width: 100%;
        }
      }

      span.imageWrapper {
        display: block;
        max-width: 400px;
        margin-bottom: 20px;

        &.left {
          float: left;
          margin: 0 20px 20px 0
        }
        &.right {
          float: right;
          margin: 0 0 20px 20px
        }

        img {
          float: none !important;
          display: block;
          max-width: 400px;
          height: auto !important;
        }
        span {
          display: block;
          width: 100%;
          margin: 10px auto 0;
          /* margin-top: 15px; */
          background: #eee;
          border-radius: 3px;
          text-align: center;
          padding: 7px 15px;

        }
      }

      &.linked-events .list-entity {
        margin-bottom: 20px;
      }
    }

    .content-short p {
      text-align: left;
      font-weight: bold;
      line-height: 24px;
      font-size: 14px;
    }
  }
  .container-content-sidebar-wrapper {

    .scroll-magnet-container {
    }

    .container-content-sidebar {

      .panel {
        font-family: $font-family-sans-serif;
      }
    }
  }
}

// pills are present in sidebar and in content, so css is placed here
.sidebar-component-pills {
  ul.nav {
    margin: 0;
    padding-left: 0;

    li {
      list-style-type: none;

      &.active {
        a {
          background: $scheme-vueish;
          border: 1px solid $scheme-vueish-dark !important;
          color: #fff;
          font-weight: bold;
          text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);

        }
      }

      &.single {
        width: 100%;
        text-align: center;

        & a {
          cursor: default;
        }
      }

      a {
        //border-radius: 15px;
        font-family: $font-family-serif;
        display: block;
        padding: 10px 15px;
        margin-bottom: 0px;
        line-height: 16.8px;
        font-size: 13px;
        border: 1px solid #fff;

        &:hover{
          border: 1px solid #eee;
        }
      }
    }
  }

  &-tags {
    span.tag {
      position: relative;
      display: inline-block;
      padding: 4px 10px;
      border-radius: 5px;
      margin-right: 10px;
      color: #222;
      line-height: 1;
      background: #eee;
      border: 1px solid #ddd;
      font-family: $font-family-sans-serif;
      font-size: 14px;
      margin-bottom: 10px;
      margin-top: 10px;
      white-space: nowrap;
    }
  }

  &-references {
    ul {
      padding: 10px 15px;
      margin: 0px;

      li {
        list-style: square;
        margin-bottom: 7px;

        &:last-child{
          margin-bottom: 0;
        }

        a {
          line-height: 20px;
        }
      }
    }
  }

  .sidebar-component-description {
    border: 1px solid #ddd;
    padding: 10px 15px;
    font-size: 12px;
    margin-bottom: 0;
  }
}

.spy .nav li {
  a {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    color: #222;
    cursor: pointer;

    &:hover {
      background: #eee;
    }
  }

  &.active a {
    z-index: 2;
    color: #fff;
    background-color: $scheme-gray;
    border-color: $scheme-gray;
  }
}

// event-specific styles
.event-container{
  .container-content-inner{
    &>.details{
      span{
        &.category{
          float: left;
        }
      }
    }
  }
}

.event-information {
  text-align: left;
  line-height: 24px;
  clear: both;
  font-size: 14px;
  max-width: 430px;
  margin: 0 auto 20px;

  .datetime {
    background: #eee;
    overflow: hidden;
    font-family: $font-family-sans-serif;
    position: relative;
    margin: 0 auto 0;

    .start-datetime, .end-datetime {
      padding: 0;
      width: 50%;
      float: left;
      text-align: center;
    }

    .start-datetime {
      .date {
        border-top: 1px solid $scheme-vueish-dark;
        border-left: 1px solid $scheme-vueish-dark;
        -webkit-border-top-left-radius: 5px;
        -moz-border-radius-topleft: 5px;
        border-top-left-radius: 5px;
      }

      .time {
        border-bottom: 1px solid #ddd;
        border-left: 1px solid #ddd;
        //-webkit-border-bottom-left-radius: 5px;
        //-moz-border-radius-bottomleft: 5px;
        //border-bottom-left-radius: 5px;
      }
    }

    .end-datetime {
      .date {
        border-top: 1px solid $scheme-vueish-dark;
        border-right: 1px solid $scheme-vueish-dark;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topright: 5px;
        border-top-right-radius: 5px;
      }

      .time {
        border-bottom: 1px solid #ddd;
        border-right: 1px solid #ddd;
        //-webkit-border-bottom-right-radius: 5px;
        //-moz-border-radius-bottomright: 5px;
        //border-bottom-right-radius: 5px;
      }
    }

    .date {
      padding: 0 20px;
      background: $scheme-vueish;
      color: #fff;
      border-bottom: 1px solid $scheme-vueish-dark;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
      font-family: $font-family-serif;
      font-size: 13px;
      font-weight: bold;
      height: 32px;
      line-height: 32px;
      overflow-y: hidden;
    }

    .time {
      padding: 20px 20px;
      font-family: $font-family-serif;
      font-size: 26px;
      font-weight: bold;
    }

    .next {
      position: absolute;
      height: calc(100% - 2px);
      width: 60px;
      background: url(~static/images/assets/next.svg) no-repeat 100%;
      z-index: 5;
      background-clip: border-box;
      background-size: 100% 100%;
      margin-left: calc(50% - 30px);
      margin-top: 1px;
      -webkit-filter: drop-shadow( 2px 0px 0px rgba(0,0,0,0.1) );
      filter: drop-shadow( 2px 0px 0px rgba(0,0,0,0.1) );
    }
  }

  .human-readable {
    font-size: 12px;
    background: #fff;
    padding: 5px 15px 2px;
    text-align: center;
    font-weight: bold;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
  }

  &.event-information-sidebar {
    * {
      border-radius: 0 !important;
    }
  }
}

.sidebar-location-container {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;

  .vue-map-container {
    height: 250px;

    .vue-map{
      height: 250px;
    }
  }

  a {
    text-decoration: none;
    display: inline-block;
    background: $scheme-light-green;
    padding: 4px 12px;
    font-size: 13px;
    width: 100%;
    margin-top: 10px;
    font-family: $font-family-sans-serif;

    &:before {
      content: '>';
      padding-right: 8px;
      padding-left: 0;
    }
    &:hover {
      color: $scheme-link;
      background: darken($scheme-light-green, 2%);

      &:before {
        padding-right: 6px;
        padding-left: 2px
      }
      span {
        //text-decoration: underline;
      }
    }
  }
}


@include media-breakpoint-only(xs) {
  .article-container{
    .container-content-inner{
      &>.details{
        span{
          float: none !important;
          display: block;
          padding: 8px 12px 7px;
          margin-bottom: 4px;
        }
      }
    }
  }

  .article-container, .event-container {
    .container-content-inner {
      .content {
        span.imageWrapper {
          width: 100% !important;
          max-width: 100% !important;
          float: none !important;
          margin: 0 !important;
          margin-bottom: 20px !important;

          img {
            width: 100% !important;
            max-width: 100% !important;
          }
        }
      }
    }
  }

}