@import 'variables';

.micelij-map {
  .page-full {
    width: 100%;
    height: calc(100vh - 45px);
    display: table;
    margin-top: $navbar-height;
  }

  .vue-map {
    height: calc(100vh - 45px);
  }

  .modal, .modal-backdrop {
    position: absolute !important;
  }

  .sidebar {
    position: absolute;
    z-index: 2;
    margin: 15px 0 0;
    opacity: 0.93;

    .sidebar-body {
      height: calc(100vh - 119px); /* 60px margintop, 39px input height, 5px input margin bottom, 15px margin bottom == 119px */
      background: #fff;
    }

    .shaded {
      box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.10);
    }

    .initiative-items-wrapper {
      overflow-y: scroll;
      height: 100%;

      &.shortened {
        height: calc(100% - #{$filter-height});
      }
    }

    form.search {
      margin-bottom: 5px;
      overflow: hidden;
      clear: both;

      .input-group {

        &.input-group-query {
          width: calc(100% - 55px);
          float: left;

          input {
            padding: 8px 27px 8px 12px;
          }

          .input-group-btn .btn {
            width: 100px;
            outline: none;
          }

          #clearQuery {
            position: absolute;
            right: 110px;
            z-index: 3;
            top: 0;
            bottom: 0;
            height: 14px;
            margin: auto;
            font-size: 14px;
            cursor: pointer;
            color: $brand-primary;
          }
        }

        &.input-group-filter-button {
          width: 50px;
          float: left;
          margin-left: 5px;

          button {
            width: 100%;
            background: #fff;
            border: 1px solid #ccc;
            color: #666;
            outline: none;
            padding: 9px 12px 7px 12px;
          }
        }
      }
    }

    .filters-wrapper {
      background: $brand-primary;
      //height: $filter-height;
      width: 100%;
      padding: 10px;
      overflow: visible;
      color: #fff;

      .page-header {
        margin-top: 0;

        h4 {
          margin-top: 10px;
          margin-bottom: 0;
        }
      }

      .well {
        padding: 10px 15px;
        margin: 0;
        background: none;
        border: 0;
        box-shadow: none;
      }

      legend {
        color: #fff;
      }

      fieldset > div {
        padding-left: 5px;
        padding-right: 5px;
      }

      //.form-group {
      //  input {
      //    background: #fff;
      //  }
      //}
    }

    .list-group {
      margin: 10px;

      .noResultsWrapper {
        text-align: center;
      }

      .noResults {
        font-size: $font-size-large;
        text-align: center;
        color: $gray-dark;
        display: inline-block;
        padding: 3px 8px;
        background: $gray-lighter;
        border-radius: 3px;
      }

      .noResultsWrapper a {
        display: inline-block;
        margin-top: 5px;
      }

      .list-group-item {
        overflow: hidden;

        &-inspect {
          position:absolute;
          right: 0;
          width: 50px;
          height: 120px;
          display: none;
          text-align: center;
          top: 0;
          background: $scheme-light-gray;

          .glyphicon-search {
            top: auto;
            display: table-cell;
            vertical-align: middle;
            color: #fff;
            font-size: 18px;
          }
        }

        &.active {
          &-inspect {
            display: table !important;
          }
        }

        &-left {
          padding: 0;
          width: 100px;
          height: 100px;
          float: left;
        }

        &-right {
          padding: 0 0 0 10px;
          float: left;
          width: calc(100% - 110px);
        }

        &-tags {
          overflow: hidden;
          padding-left: 0;
          margin: 10px 0 3px 0;

          li {
            font-size: 12px;
            float: left;
            display: inline-block;
            background: #dddddd;
            padding: 1px 6px;
            margin-right: 4px;
            margin-bottom: 3px;
          }

          &-wrapper {
          }
        }

        &.active &-tags {
          li {
            background: red;
          }
        }

        &.active &-text {
          font-size: 13px;
        }

        &-image {
          width: 100px;
          height: 100px;
        }

      }
    }
  }

  /**
  Marker infowindow
   */
  .gm-style-iw {
    //top: 1px !important;
    //left: 1px !important;
    background-color: #fff;

    .bs-component {
      .list-group {
        margin-bottom: 0;

        &-item {
          margin-bottom: 5px;
        }
      }
    }
  }

}