@import "variables";
@import "mixins";

.container-content.search-container {
  .container-content-inner-wrapper {
    .container-content-inner {
      .input-box-wrapper {
        padding: 20px;
        background: #eee;

        form.search {
          .input-group {
            input.form-control {
              -webkit-box-shadow: none !important;
              -moz-box-shadow: none !important;
              box-shadow: none !important;
              font-family: $font-family-sans-serif;
              &:focus {
                border: 1px solid $scheme-vueish
              }
            }
            .input-group-btn {
              button.btn {
                background: $scheme-vueish;
                border: 1px solid darken($scheme-vueish, 10%);
                outline: none;
              }
            }
          }
        }
      }
    }
  }
}

.pagination {
  background: #eee;
  padding: 20px !important;
  width: 100%;

  & > li {
    & > a {
      color: #222;
      padding: 10px 15px;
    }

    &.disabled > a, &.disabled > a:focus, &.disabled > a:hover  {
      background: none;
      color: #aaa;
    }
  }
}

.search-component {
  .row {
    display: flex;
    flex-wrap: wrap;

    &.row-filters-sorting {
      background: #eee;
      margin-top: 0px;
      margin-left: 0;
      margin-right: 0;
      padding: 0 0 20px;
    }
  }
  .toggle-filters-sorting {
    padding: 10px 20px;
    display: inline-block;
    background: #eee;
    margin-bottom: 20px;
  }
  .reset-filters {
    padding: 10px 20px;
    display: inline-block;
    background: #fff;
    margin-bottom: 20px;
  }

  &.detached-filters{
    .row-filters-sorting {
      padding-top: 15px;
    }
  }
}

@include media-breakpoint-down(xl) {
  .search-component {
    .row-filters-sorting {
      .filter-segment {
        margin-top: 10px;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}