<template>
    <div class="calendar-events-component">
        <pills :clickPill.sync="activePill" :activePill="activePill" class="sidebar-component sidebar-component-pills">
            <template slot="head">
                <pill name="upcoming">Prihodnji dogodki</pill>
                <pill name="selected-month">Dogodki na izbran mesec</pill>
                <pill name="selected-date">Dogodki na izbran dan</pill>
            </template>
            <template slot="body" class="events-upcoming-and-selected-date">
                <pill-content name="upcoming" class="component-pills-upcoming">
                    <template v-if="upcoming">
                        <div class="row">
                            <card v-for="event in upcomingPaginated" :listing="true" :key="event.id" :entity="event"
                                  :showImage="true"></card>
                        </div>
                        <paginator :data="upcoming" :updateResults="updateUpcomingPaginated"></paginator>
                    </template>
                    <div class="row" v-else>
                        <div class="col-sm-12">
                            Ni prihodnjih dogodkov.
                        </div>
                    </div>
                </pill-content>
                <pill-content name="selected-month" class="component-pills-selected-month">
                    <div class="row" v-if="selectedMonthEvents">
                        <card v-for="event in selectedMonthEvents" :listing="true" :key="event.id" :entity="event"
                              :showImage="true"></card>
                    </div>
                    <div class="row" v-else>
                        <div class="col-xs-12">
                            Na izbran mesec ni dogodkov.
                        </div>
                    </div>
                </pill-content>
                <pill-content name="selected-date" class="component-pills-selected-date">
                    <div class="row" v-if="selectedDateEvents">
                        <card v-for="event in selectedDateEvents" :listing="true" :key="event.id" :entity="event"
                              :showImage="true"></card>
                    </div>
                    <div class="row" v-else>
                        <div class="col-xs-12">
                            Na izbran dan ni dogodkov.
                        </div>
                    </div>
                </pill-content>
            </template>
        </pills>

    </div>
</template>


<script>
    import {mapGetters, mapMutations} from 'vuex';
    import Card from '../partial/card'
    import Pills from '../partial/pills'
    import Pill from '../partial/pills/pill'
    import PillContent from '../partial/pills/pill-content'
    import Paginator from '../paginator'

    export default {
        computed: {
            ...mapGetters('calendar', {
                upcoming: 'indexUpcoming',
                selectedDateEvents: 'indexSelectedDateEvents',
                selectedMonthEvents: 'indexSelectedMonthEvents',
                upcomingPaginated: 'indexUpcomingPaginated',
                getActivePill: 'indexActivePill'
            }),
            activePill: {
                get() {
                    return this.getActivePill
                },
                set(value) {
                    this.updateActivePill(value)
                }
            },
        },
        components: {
            Card,
            Pills,
            Pill,
            PillContent,
            Paginator
        },
        methods: {
            ...mapMutations('calendar', {
                updateUpcomingPaginated: 'UPDATE_CALENDAR_UPCOMING_PAGINATED',
                updateActivePill: 'UPDATE_ACTIVE_PILL'
            }),
        }

    }
</script>