<template>
    <div class="calendar">
        <calendar-panel-component></calendar-panel-component>
        <calendar-events-component></calendar-events-component>
    </div>
</template>

<script>
    import CalendarPanelComponent from './panel'
    import CalendarEventsComponent from './events'

    export default {
        components: {
            CalendarPanelComponent,
            CalendarEventsComponent
        }
    }
</script>