<template>
    <div class="calendar-table">
        <div class="month">
            <ul>
                <li class="prev" @click.prevent="prevMonth">&#10094;</li>
                <li class="next" @click.prevent="nextMonth">&#10095;</li>
                <li class="text-center">
                    {{ monthNames[selectedMonth.month] }}<br>
                    <span style="font-size:18px">{{ selectedMonth.year }}</span>
                </li>
            </ul>
        </div>

        <ul class="weekdays">
            <li v-for="day in dayNames">{{ day }}</li>
        </ul>

        <ul class="days">
            <li v-for="day in table" :class="day.style" @click.prevent="setCurrentDay(day.date)">
                {{ day.dayNumber ? day.dayNumber : "&nbsp;" }}
                <span v-for="(color, i) in day.eventClass" :style="{borderBottomColor: color, bottom: String(4*i + 5) + 'px' }"> </span>
            </li>
        </ul>

    </div>
</template>


<script>
    import {mapGetters, mapActions} from 'vuex';

    export default {
        data() {
            return {
                monthNames: ["Januar", "Februar", "Marec", "April", "Maj", "Junij",
                    "Julij", "Avgust", "September", "Oktober", "November", "December"
                ],
                dayNames: ["Po", "To", 'Sr', 'Če', 'Pe', 'So', 'Ne'] // todo: temp!!! convert both to translations
            }
        },
        computed: mapGetters('calendar', {
            table: 'indexTable',
            selectedMonth: 'indexSelectedMonth',
        }),
        methods: mapActions('calendar', [
            'prevMonth', 'nextMonth', 'setCurrentDay',
        ])
    }
</script>