<template>
    <div class="container-content event-container">
        <div class="col-md-8 container-content-inner-wrapper">
            <div class="col-xs-12 container-content-inner">
                <div class="details">
                    <span class="category">Kategorija: {{ event.category.name }}</span>
                </div>
                <h1>{{ event.name}}</h1>
                <div class="content-short">
                    <p>{{ event.content_short }}</p>
                </div>

                <event-information :event="event" :showLink="false"
                                   class="visible-xs-block visible-sm-block"></event-information>

                <div class="content" v-html="event.content_rich"></div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4 container-content-sidebar-wrapper">
            <sidebar>
                <!-- Your share button code -->
                <sidebar-share></sidebar-share>
                <!--<search class="hidden-xs hidden-sm sidebar-component"></search>-->

                <event-pills :event="event"></event-pills>

                <event-information :event="event" :showLink="false"
                                   class="hidden-xs hidden-sm event-information-sidebar"></event-information>

                <location v-if="event.location" :event="event"></location>

                <div class="hidden-xs hidden-sm">
                    <sidebar-title>Zadnje v kategoriji <br> {{ event.category.name }}</sidebar-title>
                    <sidebar-entity-list :entities="latestInCategory"></sidebar-entity-list>
                </div>
            </sidebar>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import {metadata} from '../../../services/metadata-service'
    import Card from '../../../components/partial/card'
    import Sidebar from '../../../components/partial/sidebar'
    import Search from '../../../components/partial/search-box'
    import Title from '../../../components/partial/sidebar/title'
    import Description from '../../../components/partial/sidebar/description'
    import EntityList from '../../../components/partial/sidebar/entity-list'
    import Share from '../../../components/partial/sidebar/share'
    import Pills from '../../../components/event/pills'
    import EventInformation from '../../../components/event/information'
    import EventLocation from '../../../components/event/location'

    export default {
        data(){
            return {
                activePill: '' // set in created()
            }
        },
        fetch({app, params}) {
            return app.$api.fetch('routed.event.find', params)
        },
        head(){
            return metadata(this.metadata, this.$nuxt.$route)
        },
        computed: {
            ...mapGetters(['metadata']),
            ...mapGetters('routed/event', [
                'event',
                'latestInCategory'
            ])
        },
        components: {
            sidebar: Sidebar,
            search: Search,
            sidebarTitle: Title,
            sidebarDescription: Description,
            sidebarEntityList: EntityList,
            sidebarShare: Share,
            eventPills: Pills,
            card: Card,
            eventInformation: EventInformation,
            location: EventLocation
        },
        mounted(){
            $('body').scrollspy({target: ".spy"});
        },
        created(){
            this.activePill = this.event.headings.length ? "headings" : 'tags'
        }
    }
</script>