<template>
    <div class="about-us">
        <h1>About us</h1>
        <hr class="gradient">

        <div class="row">

            <div class="col-md-8">

                <div class="description mb-5">

                    <!-- start slipsum code -->
                    <p>Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, just on opposite ends. </p>

                    <p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be? He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when... You know why, David? Because of the kids. They called me Mr Glass. </p>

                    <p>Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'? </p>
                    <!-- end slipsum code -->

                </div>

                <h3>People</h3>
                <hr class="gradient">

                <div class="row">
                    <div class="col-md-6">
                        <div class="media mb-4">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object img-circle" src="http://placehold.it/75x75" alt="...">
                                </a>
                            </div>
                            <div class="media-body media-middle">
                                <h4 class="media-heading">Primoz Turnsek</h4>
                                Predsednik drustva
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="media mb-4">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object img-circle" src="http://placehold.it/75x75" alt="...">
                                </a>
                            </div>
                            <div class="media-body media-middle">
                                <h4 class="media-heading">Primoz Turnsek</h4>
                                Predsednik drustva
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="media mb-4">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object img-circle" src="http://placehold.it/75x75" alt="...">
                                </a>
                            </div>
                            <div class="media-body media-middle">
                                <h4 class="media-heading">Primoz Turnsek</h4>
                                Predsednik drustva
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="media mb-4">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object img-circle" src="http://placehold.it/75x75" alt="...">
                                </a>
                            </div>
                            <div class="media-body media-middle">
                                <h4 class="media-heading">Primoz Turnsek</h4>
                                Predsednik drustva
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="media mb-4">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object img-circle" src="http://placehold.it/75x75" alt="...">
                                </a>
                            </div>
                            <div class="media-body media-middle">
                                <h4 class="media-heading">Primoz Turnsek</h4>
                                Predsednik drustva
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="media mb-4">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object img-circle" src="http://placehold.it/75x75" alt="...">
                                </a>
                            </div>
                            <div class="media-body media-middle">
                                <h4 class="media-heading">Primoz Turnsek</h4>
                                Predsednik drustva
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="col-md-offset-1 col-md-3 contact">
                <h4>Contacts</h4>

                <address>
                    <strong>Twitter, Inc.</strong><br>
                    1355 Market Street, Suite 900<br>
                    San Francisco, CA 94103<br>
                    <abbr title="Phone">P:</abbr> (123) 456-7890<br>
                    <a href="mailto:#">first.last@example.com</a>
                </address>

                <address>
                    <strong>Twitter, Inc.</strong><br>
                    1355 Market Street, Suite 900<br>
                    San Francisco, CA 94103<br>
                    <abbr title="Phone">P:</abbr> (123) 456-7890<br>
                    <a href="mailto:#">first.last@example.com</a>
                </address>

                <div class="row social mb-4">
                    <div class="col-md-4"><span class="fa fa-facebook text-center"></span></div>
                    <div class="col-md-4"><span class="fa fa-twitter text-center"></span></div>
                    <div class="col-md-4"><span class="fa fa-google text-center"></span></div>
                </div>
            </div>
        </div>
    </div>
</template>