<template>
    <div class="container-content article-container">
        <div class="col-md-8 container-content-inner-wrapper">
            <div class="col-xs-12 container-content-inner">
                <div class="details">
                    <span class="date">Objavljeno: {{ article.date }}</span>
                    <span class="category">Kategorija: {{ article.category.name }}</span>
                </div>
                <h1>{{ article.name}}</h1>
                <div class="content-short">
                    <p>{{ article.content_short }}</p>
                </div>
                <div v-if="article.event">
                    <div class="row">
                        <card :entity="event" :type="'event'"></card>
                    </div>
                </div>
                <!--<img :src="article.image" alt="" class="pull-right">-->
                <div class="content" v-html="article.content_rich"></div>
            </div>
        </div>
        <div class="col-md-4 container-content-sidebar-wrapper">
            <sidebar>
                <!-- Your share button code -->
                <sidebar-share></sidebar-share>
                <sidebar-search></sidebar-search>

                <sidebar-title :short="true">Kazalo</sidebar-title>
                <div class="list-group sidebar-component spy">
                    <div class="nav">
                        <li v-for="heading in article.headings">
                            <a class="'list-group-item'" :data-target="'#' + heading.id" v-scroll-to="'#' + heading.id">
                                {{ heading.name }}
                            </a>
                        </li>
                    </div>
                </div>

                <sidebar-title>Sorodni članki</sidebar-title>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">14</span>
                        Cras justo odio
                    </li>
                    <li class="list-group-item">
                        <span class="badge">2</span>
                        Dapibus ac facilisis in
                    </li>
                    <li class="list-group-item">
                        <span class="badge">1</span>
                        Morbi leo risus
                    </li>
                </ul>
            </sidebar>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import Card from '../../components/partial/Card'
    import Sidebar from '../../components/partial/Sidebar'
    import Search from '../../components/partial/sidebar/Search'
    import ArticleInfo from '../../components/partial/sidebar/ArticleInfo'
    import Title from '../../components/partial/sidebar/Title'
    import Description from '../../components/partial/sidebar/Description'
    import Share from '../../components/partial/sidebar/Share'

    export default {
        data() {
            return {
            }
        },
        computed: {
            ...mapGetters('routed/article', {
                article: 'article',
            })
        },
        components: {
            sidebar: Sidebar,
            sidebarSearch: Search,
            sidebarArticleInfo: ArticleInfo,
            sidebarTitle: Title,
            sidebarDescription: Description,
            sidebarShare: Share,
            card: Card
        },

        mounted(){
            $('body').scrollspy({target: ".spy"})
        },
        destroyed(){
        }
    }
</script>