<template>
    <calendar-component></calendar-component>
</template>

<script>
    import CalendarComponent from '../../components/calendar'

    export default {
        components: {
            CalendarComponent,
        },
    }
</script>