<template>
    <div class="container-content search-container">
        <div class="col-xs-12 container-content-inner-wrapper">
            <div class="container-content-inner">
                <h1>Iskanje</h1>
                <input-box></input-box>

                <article-component></article-component>

                <event-component></event-component>

                <!--<initiative-component></initiative-component>-->
            </div>
        </div>
    </div>
</template>

<script>

    import InitiativeComponent from '../../components/search/Initiative.vue'
    import ArticleComponent from '../../components/search/Article.vue'
    import EventComponent from '../../components/search/Event.vue'
    import InputBox from '../../components/search/InputBox.vue'

    export default {
        components: {
            InitiativeComponent,
            ArticleComponent,
            EventComponent,
            InputBox
        }
    }
</script>