<template>
    <div class="micelij-map">
        <sidebar-component ref="sidebar"></sidebar-component>

        <vgm-map :center="map.center"
                 :zoom="map.zoom"
                 :map-type-id="map.mapTypeId"
                 :options="map.options.map"
                 @zoom_changed="zoom = $event"
                 @bounds_changed="updateBounds($event)"
                 @center_changed="apparentCenter = $event"
                 @idle="idle"
                 ref="vgm-map">

            <initiative-markers></initiative-markers>

        </vgm-map>

        <footer-component></footer-component>
    </div>
</template>

<script>
    import FooterComponent from '../Footer'
    import InitiativeMarkers from './Markers'
    import SidebarComponent from './Sidebar'
    import InitiativeMapService from "../../services/initiative-map-service"

    import * as VueGoogleMap from 'vue2-google-maps'
    import {mapGetters, mapActions} from 'vuex'

    VueGoogleMap.load('AIzaSyAveqa-JPO_vdHeJFVp-FH8DpqbUuyOyhA');

    export default {
        data () {
            return {
                apparentCenter: {},
                initialized: false
            }
        },
        methods: {
            idle() {
                if(!this.initialized){
                    // What we want is to move map center a bit to the right because of sidebar overlay.
                    // We have to write bounds manually to a variable the first time because bounds_changed hasn't
                    // been fired yet. (Idle also gets called on map object init.)
                    this.updateBounds(this.$refs['vgm-map'].$mapObject.getBounds());
                    this.adjustCenter(this.map.center);
                    // Next comes a dirty workaround, but mapObject is needed for fitting bounds (eg. when initiative
                    // with multiple markers is clicked in sidebar).
                    window.mapObject = this.$refs['vgm-map'].$mapObject;
                    this.initialized = true;
                }
            },
            ...mapActions('initiative/map', [
                'updateBounds',
                'adjustCenter',
            ])
        },
        components: {
            FooterComponent,
            InitiativeMarkers,
            SidebarComponent,
            'vgm-map': VueGoogleMap.Map
        },
        computed: {
            ...mapGetters('initiative', {
                initiatives: 'indexInitiatives',
                map: 'map/index'
            }),
        },
        mounted() {
            this.$store.dispatch('initiative/refresh');
        }
    }
</script>