<template>
    <div>
        <!--<vgm-clusterer @click="clickCluster($event)">-->
        <vgm-marker
                v-for="marker in markers"
                :position="marker.position"
                :clickable="true"
                :initiatives="marker.initiatives"
                :icon="map.marker.icon"
                :draggable="false"
                :key="marker.id"
                @click="clickMarker(marker)"
        >
            <vgm-info-window :opened="marker.id in focusedMarkers" @closeclick="clearFocused">
                <div class="bs-component">
                    <div class="list-group">
                        <a class="list-group-item" @click.prevent="inspectInitiative(i.id)" v-for="i in marker.initiatives">

                            {{ i.name }}
                        </a>
                    </div>
                </div>
            </vgm-info-window>

        </vgm-marker>
        <!--</vgm-clusterer>-->
    </div>

</template>

<script>
    import InitiativeMapService from "../../services/initiative-map-service"
    import * as VueGoogleMap from 'vue2-google-maps'
    import {mapGetters, mapActions} from 'vuex'

    export default {
        computed: {
            ...mapGetters('initiative', {
                markers: 'map/indexMarkers',
                focusedMarkers: 'map/focusedMarkers',
                map: 'map/index',
            }),
        },
        methods: {
//            clickCluster(event) {
//                window.mapObject.fitBounds(InitiativeMapService.extendBoundsForSidebar(event.getBounds()))
//            },
            clickMarker(marker) {
                this.focusMarker(marker);
                this.$scrollTo('#initiative-' + marker.initiatives[Object.keys(marker.initiatives)[0]].id, 300, {
                    container: '#initiatives-scrollable'
                });
            },
            ...mapActions('initiative/map', {
                focusMarker: 'focusMarker',
                inspectInitiative: 'inspectInitiative',
                clearFocused: 'clearFocused'
            })
        },
        components: {
            'vgm-info-window': VueGoogleMap.InfoWindow,
            'vgm-marker': VueGoogleMap.Marker,
            'vgm-clusterer': VueGoogleMap.Cluster,
        }
    }
</script>