<template>
    <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12 sidebar">

        <search-component></search-component>

        <div class="sidebar-body shaded">
            <filter-component v-show="filters.toggle"></filter-component>

            <div class="initiative-items-wrapper" :class="{ shortened: filters.toggle }">
                <items-component ref="items"></items-component>
            </div>
        </div>
    </div>
</template>

<script>
    import SearchComponent from './sidebar/Search'
    import FilterComponent from './sidebar/Filter'
    import ItemsComponent from './sidebar/Items'

    import {mapGetters} from 'vuex'


    export default {
        computed: {
            ...mapGetters('initiative', {
               filters: 'indexFilters'
           })
        },
        components: {
            SearchComponent,
            FilterComponent,
            ItemsComponent
        }
    }
</script>