<template>
    <form @submit.prevent="subscribe" class="shaded" :class="state">
        <div class="input-group input-group-query">
            <input
                type="text"
                class="form-control"
                :disabled="state == 'loading'"
                :placeholder="placeholder"
                v-model="input"
                ref="input"
            >
            <div class="input-group-btn">
                <button class="btn btn-primary" :class="{disabled: state == 'loading'}" type="submit">
                    <span class="hidden-xs">Prijava </span><span class="glyphicon glyphicon-send"></span>
                </button>
            </div>
        </div>
    </form>
</template>

<script>
    import Api from '../../api'

    export default {
        data(){
            return {
                input: '',
                state: null,
                placeholder: 'Vnesite vaš e-poštni naslov'
            }
        },
        methods: {
            subscribe() {
                this.state = 'loading';
                Api.email.subscribe({email: this.input}).then(response => {
                    this.state = 'success';
                    this.placeholder = response.data.message
                }).catch(error => {
                    this.state = 'error';
                    this.$refs.input.focus();
                    this.placeholder = error.response.data.message
                }).then(() => {
                    this.input = ''
                })
            }
        }
    }
</script>