<template>
    <div class="auth login">
        <div class="card text-center">
            <div class="card-block">

                <div class="login-screen" v-if="!authenticated">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="social-auth-links text-center">

                                <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"
                                   @click.prevent="facebookLogin"><span class="fa fa-facebook"></span>
                                    {{ $t('login.social.facebook') }}</a>
                                <a href="#" class="btn btn-block btn-social btn-google btn-flat"><span
                                        class="fa fa-google"></span> {{ $t('login.social.google') }}</a>
                                <div class="social-or-not">
                                    {{ $t('login.social_or_not') }}
                                </div>
                            </div>
                        </div>
                    </div>


                    <form class="form-horizontal" role="form">

                        <div class="form-group row" :class="errors ? 'has-errors' : ''">
                            <label for="email" class="col-md-3 control-label">Email</label>

                            <div class="col-md-6">
                                <input @input="updateEmail($event.target.value)" :value="credentials.username"
                                       id="email" type="email" class="form-control" name="email" required autofocus>
                            </div>

                        </div>

                        <div class="form-group row" :class="errors ? 'has-errors' : ''">
                            <label for="password" class="col-md-3 control-label">Password</label>

                            <div class="col-md-6">
                                <input @input="updatePassword($event.target.value)" :value="credentials.password"
                                       id="password" type="password" class="form-control" name="password" required>
                            </div>
                        </div>

                        <span v-if="errors" class="help-block">
                        <strong>{{errors.message}}</strong>
                    </span>

                    </form>
                    <button class="btn btn-primary" @click="credentialsLogin">Go somewhere</button>
                </div>
                <div class="login-screen" v-else>
                    <p>Authenticated</p>
                    <button @click.prevent="logout">Logout</button>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters, mapActions, mapMutations} from 'vuex'

    export default {
        computed: {
            ...mapGetters('auth', {
                credentials: 'indexCredentials',
                errors: 'indexErrors',
                authenticated: 'indexAuthenticated'
            })
        },
        methods: {
            ...mapActions('auth', [
                'credentialsLogin',
                'facebookLogin',
                'logout'
            ]),
            ...mapMutations('auth', {
                updateEmail: 'UPDATE_USERNAME',
                updatePassword: 'UPDATE_PASSWORD'
            })
        }
    }
</script>