<template>
    <ul>
        <li v-for="event in upcoming">
            <div class="panel panel-default">
                <div class="panel-heading">{{ event.name }}
                    <small class="pull-right">{{ event.start_at }} - {{ event.end_at }} </small>
                </div>
                <div class="panel-body">
                    <p>{{ event.description }}</p>
                    <a href=""><small>More...</small></a>
                </div>
            </div>

        </li>
    </ul>
</template>


<script>
    import {mapGetters} from 'vuex';

    export default {
        computed: mapGetters('calendar', {
            upcoming: 'indexUpcoming'
        }),

    }
</script>