<template>
    <div class="calendar">
        <div class="row">
            <div class="col-xs-12">
                <calendar-panel-component></calendar-panel-component>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-xs-12">
                <calendar-events-component></calendar-events-component>
            </div>
        </div>

    </div>
</template>

<script>
    import CalendarPanelComponent from './Panel'
    import CalendarEventsComponent from './Events'

    export default {
        components: {
            CalendarPanelComponent,
            CalendarEventsComponent
        },
        created() {
            this.$store.dispatch('calendar/getEvents')
        }
    }
</script>