<template>
    <div>
        <div class="month">
            <ul>
                <li class="prev" @click.prevent="prevMonth">&#10094;</li>
                <li class="next" @click.prevent="nextMonth">&#10095;</li>
                <li class="text-center">
                    {{ monthNames[selected.month] }}<br>
                    <span style="font-size:18px">{{ selected.year }}</span>
                </li>
            </ul>
        </div>

        <ul class="weekdays">
            <li v-for="day in dayNames">{{ day }}</li>
        </ul>

        <ul class="days">
            <li v-for="day in table" :class="day.style" @click.prevent="setCurrentDay(day.dayNumber)">
                {{ day.dayNumber }}
            </li>
        </ul>

    </div>
</template>


<script>
    import {mapGetters, mapActions} from 'vuex';

    export default {
        data() {
            return {
                monthNames: ["January", "February", "March", "April", "May", "June",
                    "July", "August", "September", "October", "November", "December"
                ],
                dayNames: ["Mo", "Tu", 'We', 'Th', 'Fr', 'Sa', 'Su'] // todo: temp!!! convert both to translations
            }
        },
        computed: mapGetters('calendar', {
            table: 'indexTable',
            selected: 'indexSelected',
        }),
        methods: mapActions('calendar', [
            'prevMonth', 'nextMonth', 'setCurrentDay',
        ]),

    }
</script>