<template>
    <div :class="['item', this.count == 0 ? 'active' : '']">
        <div class="banner-image" v-bind:style="{backgroundImage: this.coverUrl}"></div>
        <div class="banner-overlay"></div>
        <div class="banner-fader"></div>
        <div class="container">
            <nuxt-link :to="to" class="banner-info col-sm-8">
                <div class="banner-title">{{ entity.name | truncate(60, '...') }}</div>
                <div class="banner-description">
                    {{ entity.content_short | truncate(200, ' ...') }} &rsaquo;
                </div>
            </nuxt-link>
        </div>
    </div>
</template>

<script type="text/babel">
    export default{
        data(){
            return {
                style: ''
            }
        },
        props: {
            entity: {
                required: true,
                type: Object
            },
            count: {
                required: true,
                type: Number
            }
        },
        computed: {
            to() {
                let routeName;
                if(this.entity.model === 'Article'){
                    routeName = 'article-slug'
                }
                else if(this.entity.model === 'Event'){
                    routeName = 'event-slug'
                }
                return {name: routeName, params: {slug: this.entity.slug}}
            },
            coverUrl() {
                return 'url(' + this.entity.image_cover + ')';
            }
        }
    }
</script>
