<template>
    <li><router-link :to="link">{{ crumb.name }}</router-link></li>
</template>

<script type="text/babel">
    export default{
        props: {
            crumb: {
                required: true,
                type: Object
            }
        },
        computed: {
            link(){
                return this.crumb.to ? this.crumb.to : {link: this.crumb.link}
            }
        }
    }
</script>