<template>
    <div class="main-app">
        <!--<div class="loading" v-if="loading">-->
        <!--Loading...-->
        <!--</div>-->
        <div v-if="failed" v-html="failed ? failedResponse : ''" class="error"></div>
        <router-view :class="{hidden: failed}"></router-view><!-- || loading-->
        <vue-progress-bar></vue-progress-bar>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex'

    export default{
        data () {
            return {}
        },
        computed: {
            ...mapGetters(['loading', 'failed', 'failedResponse', 'initialLoad', 'metadata'])
        },
        created() {
            /**
             * Register router hook callbacks.
             * beforeEach does not get called on initial load, because it is hooked only after Vue instance
             * has been created (proper use would be as a global hook, with router.beforeEach).
             */
            this.$router.beforeEach((to, from, next) => {
                //  start the loading process (progress bar etc.)
                this.$Progress.start();
                this.$store.commit('load');
                if (to.matched === []) {
                    // todo: 404 error
                }
                next();
            });

            this.$router.beforeResolve((to, from, next) => {
                // if error, else success
                if (this.failed) {
                    this.$Progress.fail();
                    // fail already commited in axios catch
                } else {
                    this.$Progress.finish();
                    // success already commited in axios then
                }
                next()
            });
        },
        metaInfo() {
            return {
                title: this.metadata.document_title,
                meta: [
                    {vmid: 'description', name: 'description', content: this.metadata.description},
                    {vmid: 'keywords', name: 'keywords', content: this.metadata.keywords},
                    {vmid: 'og_title', property: 'og:title', content: this.metadata.title},
                    {vmid: 'og_description', property: 'og:description', content: this.metadata.description},
                    {vmid: 'og_image', property: 'og:image', content: this.metadata.image},
                    {vmid: 'og_url', property: 'og:url', content: this.metadata.url},
                    {vmid: 'og_type', property: 'og:type', content: this.metadata.type},
                ]
            }
        }
    }
</script>

