<template>
    <div class="main-layout index">
        <header-component :shortened="false"></header-component>
        <router-view></router-view>

        <div class="container">
            <footer-component></footer-component>
        </div>
    </div>
</template>

<script>
    import HeaderComponent from '../components/Header'
    import FooterComponent from '../components/Footer'

    export default {
        components: {
            HeaderComponent,
            FooterComponent,
        }
    }
</script>