<template>
    <div class="main-layout pages">
        <header-component></header-component>

        <div class="main-container-wrapper">
            <div class="container main-container">
                <div class="row">
                    <router-view></router-view>
                </div>
            </div>
        </div>

        <div class="container">
            <footer-component></footer-component>
        </div>
    </div>
</template>

<script>
    import HeaderComponent from '../components/Header'
    import FooterComponent from '../components/Footer'
    import {mapGetters} from 'vuex'

    export default {
        components: {
            HeaderComponent,
            FooterComponent,
        },
        computed: {
            ...mapGetters(['metadata'])
        }
    }
</script>