<template>
    <div class="user-panel-container">
        <sidebar-component></sidebar-component>

        <div class="container-fluid">
            <div class="side-body">
                <h1 class="mb-5">{{ $t(page) }}</h1>

                <div class="col-md-10">
                    <router-view></router-view>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    import SidebarComponent from '../components/user/Sidebar.vue'
    import {mapGetters} from 'vuex'

    export default {
        components: {
            SidebarComponent
        },
        computed: mapGetters('user', {
            page: 'indexPage'
        }),
        mounted() {
            this.$store.dispatch('user/getPage')
        }
    }
</script>