<template>
    <div class="user-initiative index">
        <router-link :to="{name: 'user-initiative-create'}" class="btn btn-primary mb-4">Create new</router-link>

        <div class="card" v-for="initiative in initiatives">
            <!--<div class="card-block">-->
                <!--<h4 class="card-title">{{ initiative.name }}</h4>-->
                <!--<p class="card-text">{{ initiative.short_description }}</p>-->
                <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
            <!--</div>-->
            <div class="card-block">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" :src="initiative.cover" alt="..." style="max-height: 100px">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{ initiative.name }}</h4>
                        <p class="card-text">{{ initiative.short_description }}</p>
                        <div class="col-md-6">
                            Categories:
                            <ul>
                                <li v-for="category in initiative.categories">{{category.name}}</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            Audience:
                            <ul>
                                <li v-for="a in initiative.audience">{{a.name}}</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card-footer">

                <small >Visible</small>
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><router-link :to="{name: 'user-initiative-update', params: {id: initiative.id}}">Edit</router-link></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#" class="text-success">Enable</a></li>
                        <li><a href="#" class="text-danger">Disable</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    export default {
        computed: {
            ...mapGetters('user/initiative', {
                initiatives: 'indexList'
            })
        },
        created() {
            this.$store.dispatch('user/initiative/getAll')
        }
    }
</script>