<template>
    <initiative-form></initiative-form>
</template>

<script>
    import InitiativeForm from '../../../components/user/initiative/form/index.vue'

    export default {

        components: {
            InitiativeForm
        },
        created() {
            this.$store.dispatch('user/initiative/form/edit')
        }
    }
</script>