<template>
    <div class="filters-wrapper">
        <div class="well bs-component">
            <fieldset>
                <legend>{{ $t('initiative.map.sidebar.filters.title') }}</legend>
                <div class="form-group">
                    <label class="control-label">{{ $t('initiative.map.sidebar.filters.choose_categories')}}</label>
                    <v-select :options="options.categories" :value="selected.categories" @input="updateCategories"
                              placeholder="Izberi tu" multiple>
                    </v-select>
                </div>
                <div class="form-group">
                    <label class="control-label">{{ $t('initiative.map.sidebar.filters.choose_audience')}}</label>
                    <v-select :options="options.audience" :value="selected.audience" @input="updateAudience"
                              placeholder="Izberi tu" multiple>
                    </v-select>
                </div>
            </fieldset>
            <button @click.prevent="clear" class="btn btn-default">Clear filters</button>
        </div>
    </div>
</template>

<script>
    import {mapGetters, mapActions, mapMutations} from 'vuex';
    import VSelect from 'vue-select'

    export default{
        components: {
            VSelect
        },
        created() {
            this.$store.dispatch('initiative/getOptions')
        },
        computed: {
            ...mapGetters('initiative', {
                selected: 'indexSelectedFilters',
                options: 'indexOptions',
            })
        },
        methods: {
            ...mapMutations('initiative', {
                updateCategories: 'updateSelectedCategories',
                updateAudience: 'updateSelectedAudience'
            }),
            ...mapActions('initiative', ['clear'])
        }
    }
</script>