<template>
    <div class="list-group" id="initiatives-scrollable">
        <!--<initiative-item v-for="i in topInitiatives" :isTop="true" :initiative="i" :id="i.id"></initiative-item>-->
        <initiative-item v-for="i in initiatives" :initiative="i" :key="i.id"></initiative-item>
        <div class="noResultsWrapper" v-show="!initiatives">
            <span class="noResults">
                {{ $t('initiative.map.sidebar.list.no_results') }}
            </span>
            <br>
            <a href="#" @click.prevent="clearCriteria">
                {{ $t('initiative.map.sidebar.filters.clear') }}
            </a>
        </div>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex'
    import Item from './Item'

    export default {
        computed: {
            ...mapGetters('initiative', {
                initiatives: 'indexInitiatives',
            })
        },
        methods: {
            ...mapActions('initiative', [
                'clickInitiative',
                'clearCriteria'
            ])
        },
        components: {
            'initiative-item': Item
        }
    }
</script>