<template>
    <a href="#" :id="'initiative-' + initiative.id" class="list-group-item item" @click.prevent="focusInitiative(initiative)" :class="{active: isActive}">
        <div class="list-group-item-inspect">
            <span class="glyphicon glyphicon-search"></span>
        </div>
        <div class="list-group-item-left">
            <img :src="initiative.logo" :alt="initiative.name" class="list-group-item-image img-thumbnail">
        </div>
        <div class="list-group-item-right">
            <h4 class="list-group-item-heading">{{ initiative.name }}</h4>
            <div class="list-group-item-tags-wrapper">
                <ul class="list-group-item-tags">
                    <li :title="initiative.category.description">{{ initiative.category.name }}</li>
                </ul>
            </div>
            <p>{{ initiative.short_description }}</p>
        </div>
    </a>
</template>

<script type="text/babel">
    import {mapGetters, mapActions} from 'vuex'

    export default{
        data(){
            return {}
        },
        props: {
            initiative: {
                required: true,
                type: Object
            }
        },
        methods: {
            ...mapActions('initiative/map', [
                'focusInitiative'
            ])
        },
        computed: {
            isActive() {
                return this.initiative.id in this.focusedInitiatives
            },
            ...mapGetters('initiative/map', [
                'focusedInitiatives'
            ])
        }
    }
</script>