<template>
    <form @submit.prevent="search" class="shaded search">
        <div class="input-group input-group-query">
            <input
                type="text"
                class="form-control"
                :placeholder="$t('initiative.map.sidebar.search.placeholder')"
                :value="query"
                @keyup.esc="updateSearch('')"
                @keyup.stop="updateSearch($event.target.value)"
            >
            <span id="clearQuery" class="glyphicon glyphicon-remove" v-show="query" @click="emptySearch"></span>
            <div class="input-group-btn">
                <button class="btn btn-primary" type="submit" @click.prevent="clickSidebarSearch">
                    {{ $t('initiative.map.sidebar.search.action') }}
                </button>
            </div>
        </div>
        <div class="input-group input-group-filter-button">
            <button class="btn btn-regular" type="button" @click.prevent="toggleFilters">
                <span class="glyphicon glyphicon-cog"></span>
            </button>
        </div>
    </form>
</template>

<script>
    import {mapGetters, mapMutations, mapActions} from 'vuex'

    export default {
        computed: mapGetters('initiative', {
           query: 'indexSearch'
        }),
        methods: {
            ...mapMutations('initiative', {
                updateSearch: 'updateSearch',
                toggleFilters: 'toggleFilters'
            }),
            ...mapActions('initiative', [
                'clickSidebarSearch'
            ]),
            emptySearch() {
                this.updateSearch('')
                this.clickSidebarSearch()
            }
        },
    }
</script>