@import "variables";

.about-us {
  .social {
    span {
      border-radius: 100%;
      background-color: $grey_color;
      color: #fff;
      width: 50px;
      height: 50px;
      line-height: 50px;
      font-size: 25px;
    }

  }

  .contact {
    background-color: $grey_light_color;
  }
}