@import "variables";
@import "mixins";

$column_width_7: 14.2857143%;

.calendar {
  * {box-sizing:border-box;}
  ul {
    list-style-type: none;
    padding: 0;
  }

  .month {
    padding: 25px 25px;
    width: 100%;
    background: $scheme-vueish;

    ul {
      margin: 0;
      padding: 0;

      li {
        color: white;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 3px;
      }
    }

    .prev {
      cursor: pointer;
      float: left;
      padding-top: 10px;
    }

    .next {
      cursor: pointer;
      float: right;
      padding-top: 10px;
    }

  }

  .weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;

    li {
      display: inline-block;
      width: $column_width_7;
      color: #666;
      text-align: center;
    }
  }

  .days {
    padding: 10px 0;
    background: #eee;
    margin: 0;

    li {
      list-style-type: none;
      display: inline-block;
      width: $column_width_7;
      text-align: center;
      margin-bottom: 5px;
      font-size:12px;
      color: #777;
      padding: 5px;

      &.has-day {
        cursor: pointer;
      }

      &.active {
        background: $scheme-vueish;
        color: white !important
      }

      &.today {
        background: $scheme-vueish;
        color: white !important
      }

      &.picked {
        background: $scheme-gray !important;
        color: white !important
      }

      &.has-event {
        border-bottom: 4px solid $scheme-dark-gray;
      }
    }
  }

  /* Add media queries for smaller screens */
  @media screen and (max-width:720px) {
    .weekdays li, .days li {width: 13.1%;}
  }

  @media screen and (max-width: 420px) {
    .weekdays li, .days li {width: 12.5%;}
    .days li .active {padding: 2px;}
  }

  @media screen and (max-width: 290px) {
    .weekdays li, .days li {width: 12.2%;}
  }
}