@import "variables";
@import "mixins";

/**
Globally defined classes for entity (article, event, initiative) card
 */

.list-entity {
  margin-bottom: 40px;
  //border-right: 1px solid $scheme-beige;

  &:last-child {
    border-right: 0;
  }

  .image {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    border: 3px solid $scheme-light-green;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    img {
      width: 100%;
    }
  }

  .details {
    span {
      font-size: $font-size-small;
      color: $gray;
      display: inline-block;

      &:after {
        content: '|';
        padding: 0 8px;
      }

      &:last-child:after {
        content: '';
      }
    }
  }
  .title {
    display: block;
    margin-bottom: 13px;
    margin-top: 6px;

    a {
      font-family: $font-family-serif;
      font-size: $font-size-large;
      text-decoration: none;
      padding-bottom: 0px;
    }
  }

  .description {
    text-align: left;
    font-family: $font-family-serif;
    font-size: 14px;
    line-height: 22px;
  }

  .read-more {
    text-decoration: none;
    display: inline-block;
    background: $scheme-light-green;
    padding: 4px 12px;
    margin-top: 15px;

    &:before {
      content: '>';
      padding-right: 8px;
      padding-left: 0;
    }
    &:hover {
      color: $scheme-link;
      background: darken($scheme-light-green, 2%);

      &:before {
        padding-right: 6px;
        padding-left: 2px
      }
      span {
        //text-decoration: underline;
      }
    }
  }
}

.card {
  &.initiative {
    img {
      &.logo {
        height: 75px;
        width: 75px;
        position: absolute;
        top: 15px;
        left: 15px
      }
    }

    .card-block {
      height: 250px;
      position: relative;

      a {
        &.more {
          position: absolute;
          bottom: 15px;
          left: 15px
        }
      }
    }
  }

  &.event {
    .card-block {
      height: 300px;
    }
  }


  &.article {
    .card-block {
      height: 200px;
    }
  }
}

.initiative {

  &.index {
    img {
      &.logo {
        height: 75px;
        width: 75px;
        position: absolute;
        top: 15px;
        left: 15px
      }
    }

    .card-block {
      height: 250px;
      position: relative;

      a {
        &.more {
          position: absolute;
          bottom: 15px;
          left: 15px
        }
      }
    }
  }

}