@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin nav-column-attr($bg, $border-bottom, $border-top) {
  background: $bg;
  border-bottom: $border-bottom;
  border-top: $border-top;
  height: 100px;
  //line-height: 100px;
  display: block;
  //box-shadow: inset 0 6px 4px -4px rgba(0, 0, 0, 0.1)
}

@mixin nav-column-blue-attr($bg, $border-bottom, $border-top) {
  background: $bg;
  border-bottom: $border-bottom;
  border-top: $border-top;
  //box-shadow: none;
}

@mixin nav-column($bg, $border-bottom, $border-top){
  @include nav-column-attr($bg, $border-bottom, $border-top);

  &:before {
    @include nav-column-attr($bg, $border-bottom, $border-top);
    margin-top: -1px;
  }
}

@mixin nav-column-blue($bg, $border-bottom, $border-top){
  @include nav-column-blue-attr($bg, $border-bottom, $border-top);

  &:before {
    @include nav-column-blue-attr($bg, $border-bottom, $border-top);
    margin-top: -1px;
  }
}

@mixin nav-link-description() {
  display: block;
  font-weight: 400;
  padding-top: 3px;
  font-size: 14px;
  opacity: 0.7;
  text-decoration: none;
}

@mixin extend-common() {
    content: '';
    display: block;
    position: absolute;
    width: 999em;
    top: 0;
    bottom: 0;
}

@mixin extend-left() {
  &:before {
    @include extend-common();
    left: -999em;
  }
}

@mixin extend-right() {
  &:before {
    @include extend-common();
    right: -999em;
  }
}
@mixin extend-right-after() {
  &:after {
    @include extend-common();
    right: -999em;
  }
}


@import "mixins/breakpoints";