$fa-font-path: "fonts";

@import "variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bootswatch";
@import "/vendor/backpack/select2/select2.css";
@import "/vendor/backpack/select2/select2-bootstrap-dick.css";
@import "node_modules/bootstrap-social/bootstrap-social.scss";
@import "node_modules/bootstrap-3-card/sass/card.scss";

@import "mixins";
@import "utilities";

/**
  Override bootstrap framework defaults
 */

h4 {
  margin-top: 25px;
}
.container {
  padding-left: 20px;
  padding-right: 20px;
}
.row {
  //margin-bottom: 20px;
  margin-left: -20px;
  margin-right: -20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
[class*='col-'] {
  padding-left: 20px;
  padding-right: 20px;
}

/*
  Custom variables.
 */
$banner-height: 300px;
$logo-banner-ratio: 0.8;

/*
  Finally, a space for custom css.
 */

body {
  overflow-x: hidden;
  //background: $scheme-light-beige;
}

.nav .row .nav-left-column-blue .link,.nav .row .nav-left-column-blue:before .link {
  font-family: $font-family-serif;
  color: #fff;//$scheme-darker-green;
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
}

.main-layout {

  &.index{
    background: $scheme-light-beige;
  }
  &.pages {
    background: #fff;
  }
}

.main-container-wrapper {
  background: linear-gradient($scheme-lightest-beige, #fff);
  background-size:auto 200px;
  background-repeat: repeat-x;
}

.main-container {
  padding-bottom: 30px;
  //background: $scheme-lightest-beige;

  .container-content {
    padding-bottom: 30px;
    //overflow: hidden;
    min-height: 700px;

    .container-content-inner-wrapper {
      .container-content-inner {
        padding-top: 30px;
        padding-left: 0;
        padding-right: 0;
        position: relative;
      }
    }

    .container-content-sidebar-wrapper {
      .container-content-sidebar {
        padding-top: 20px;
        padding-bottom: 30px;
        position: relative;

        .sidebar-component {
          margin-bottom: 20px;

          &:last-child {
            margin-bottom: 0
          }
        }

        .sidebar-component-share {
          margin-bottom: 20px;
        }

        .sidebar-component-description {
          margin-bottom: 20px;
          border: 1px solid #ddd;
          padding: 10px 15px;
          font-size: 12px;
        }

        .sidebar-component-title{
          text-align: center;
          span {
            background: $scheme-vueish;
            border: 1px solid $scheme-vueish-dark;
            //border-radius: 15px;
            font-family: $font-family-serif;
            display: block;
            padding: 10px 15px;
            color: #fff;
            margin-bottom: 0px;
            line-height: 16.8px;
            font-size: 14px;
            font-weight: bold;
            text-shadow: 0 1px 0 rgba(0,0,0, 0.2);
          }
        }

        form.search {
          .input-group {
            input.form-control {
              -webkit-box-shadow: none !important;
              -moz-box-shadow: none !important;
              box-shadow: none !important;
              font-family: $font-family-sans-serif;
              &:focus {
                border: 1px solid $scheme-vueish
              }
            }
            .input-group-btn {
              button.btn {
                background: $scheme-vueish;
                border: 1px solid darken($scheme-vueish, 10%);
                outline:none;
              }
            }
          }
        }
      }
    }
  }

  hr.divider {
    margin: 30px 0;
  }
}

.center-social {
  margin-top: 15px;
  width: 468px;
  @include center-block;
}

.social-or-not {
  padding: 35px 0;
}

.initiative-details {
  width: 100%;
  height: calc(80vh - 45px);
  display: table;
}

hr.gradient {
  border: 0;
  height: 1px;
  background: $gradient_color;
}

@import "header";
@import 'micelij';
@import 'cards';
@import "calendar";
@import "initiatives";
@import "about_us";
@import "user_panel";
@import "home";
@import "article";
@import "search";