@import "variables";
@import "mixins";

.article-container {
  font-family: $font-family-serif;
  display: flex;
  flex-wrap: wrap;

  .container-content-inner{
    .details {
      overflow: hidden;

      span{
        font-size: 12px;
        color: #222;
        background: #eee;
        padding: 4px 12px 3px;
        display: inline-block;

        &.date {
          float:left;
        }
        &.category{
          float: right;
        }
      }
    }

    h1 {
      margin-bottom: 20px;
      clear: both;
    }

    .content {
      p {
        text-align: justify;
        line-height: 24px;
      }

      h2 {
        @include extend-left();
        position: relative;
        background: #eee;
        padding-top: 20px;
        margin-bottom: 30px;
        margin-top: 40px;
        padding-bottom: 6px;
        clear: both;

        &:before {
          background-color: #eee;
        }
      }
      h3 {
        margin-top: 30px;
        margin-bottom: 20px;
      }

      span.imageWrapper {
        display: block;
        max-width: 400px;

        &.left {
          float: left;
          margin: 0 20px 20px 0
        }
        &.right {
          float: right;
          margin: 0 0 20px 20px
        }

        img {
          float: none !important;
          display: block;
          max-width: 400px;
          height: auto !important;
        }
        span {
          display: block;
          width: 100%;
          margin: 10px auto -10px;
          /* margin-top: 15px; */
          background: #eee;
          border-radius: 3px;
          text-align: center;
          padding: 7px 15px;

        }
      }
    }

    .content-short p {
      text-align: justify;
      font-weight: bold;
      line-height: 24px;
    }

    .divider {

    }
  }
  .container-content-sidebar-wrapper{

    .scroll-magnet-container{
    }

    .container-content-sidebar {
      .panel{
        font-family: $font-family-sans-serif;
      }

      .spy .nav li{
        a {
          position: relative;
          display: block;
          padding: 10px 15px;
          margin-bottom: -1px;
          background-color: #fff;
          border: 1px solid #ddd;
          color: #222;
          cursor: pointer;

          &:hover{
            background: #eee;
          }
        }

        &.active a{
          z-index: 2;
          color: #fff;
          background-color: $scheme-gray;
          border-color: $scheme-gray;
        }
      }
    }
  }


}

