@import "variables";
@import "mixins/breakpoints";

.container-index-division {
  background: #fff;
  margin-bottom: 30px;

  &-top {
    padding-top: 30px;
  }

  &-featurette {
    margin-top: 40px;
    background: none;
    margin-bottom: 0;

    .featurette-wrapper {
      .row.featurette {
        //margin-top: 20px;
        margin-bottom: 20px;
        //height: 350px;
        //display: table;

        .featurette-content-wrapper {
          padding-bottom: 0;

          .featurette-heading {
            margin-bottom: 20px;
            margin-top: 0;
            font-weight: 300;
            line-height: 1;
            letter-spacing: -1px;
          }

          .lead {
            font-family: $font-family-serif;
            text-align: justify;
            font-size: 16px;
            line-height: 26px;
          }

          a {
            display: inline-block;
            width: 100%;
            padding: 10px;
            background: $scheme-green;
            text-align: center;
            color: #fff;
            font-size: 16px;
            margin-top: 10px;
            font-weight: bold;
            text-decoration: none;

            &:hover {
              background: darken($scheme-green, 5%);
            }
          }
        }
      }

      .featurette-divider {
        margin: 40px 0;
      }

      &:last-child {
        .featurette-divider {
          //display: none;
        }
      }
    }
  }

  &-title {
    background: none;
    text-align: center;

    h2 {
      display: inline-block;
      //background: $scheme-green;
      -webkit-border-radius: 3px;
      color: #222;
      font-size: 50px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      margin-top: 0;
      padding: 15px 30px 7px 30px;
    }
  }

  &-tabs {
    background: none;
    margin-bottom: 0;

    .nav-pills {
      li.active a {
        background: #fff;
        color: $gray-darker;
      }

      li a {
        font-family: $font-family-serif;
        padding: 20px 45px;
      }
    }
  }

  &-tabs-content {
    //margin-bottom: 0;

    .tab-content {
      padding-top: 20px;

      .row {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}

/**
RESPONSIVE CSS
*/

@include media-breakpoint-up(lg) {
  .container-index-division-featurette {
    margin-top: 80px !important;
    //margin-bottom: 80px !important;
  }

  .featurette-heading {
    font-size: 50px !important;
  }

  .featurette-divider {
    margin: 80px 0 !important;
  }
}

@include media-breakpoint-up(xl) {
  .featurette-heading {
    //margin-top: 70px;
  }
  .featurette .lead {
    //font-size: 20px !important;
    line-height: 28px !important;
  }
  .featurette-content-wrapper a {
    width: auto !important;
    padding: 10px 30px !important;
    //font-size: 20px !important;
  }
}

@include media-breakpoint-down(md) {
  .featurette-content-wrapper {
    padding-bottom: 30px !important;
  }
}

@include media-breakpoint-down(lg) {
  .nav-pills {
    li {
      float: none !important;

      a{

      }
    }
  }

  .list-entity {
    display: flex;

    .image {
      float: left;
      width: 150px;
      height: 150px;
      margin-right: 15px;

      img {
        width: 150px;
        height: 150px;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .list-entity .image {
    width: 100px;
    height: 100px;

    img {
      width: 100px;
      height: 100px;
    }
  }
}