@import "variables";

.container-content.search-container {
  .container-content-inner-wrapper {
    .container-content-inner {
      .input-box-wrapper{
        padding: 50px;
        background: #eee;

        form.search {
          .input-group {
            input.form-control {
              -webkit-box-shadow: none !important;
              -moz-box-shadow: none !important;
              box-shadow: none !important;
              font-family: $font-family-sans-serif;
              &:focus {
                border: 1px solid $scheme-vueish
              }
            }
            .input-group-btn {
              button.btn {
                background: $scheme-vueish;
                border: 1px solid darken($scheme-vueish, 10%);
                outline: none;
              }
            }
          }
        }
      }
    }
  }
}