<template>
    <router-link class="list-group-item item" :to="to" :class="entityClass">{{ entity.name }}</router-link>
</template>

<script type="text/babel">
    export default{
        props: {
            entity: {
                required: true,
                type: Object
            },
            currentEntity: {
                required: false,
                type: Object,
                default: null
            }
        },
        computed: {
            to() {
                return {name: 'article-slug', params: {slug: this.entity.slug}}
            },
            entityClass() {
                return {
                    active: this.currentEntity && this.entity.slug === this.currentEntity.slug
                }
            }
        }
    }
</script>

<style lang="sass" rel="stylesheet/scss">

</style>