<template>
    <ul class="list-group sidebar-component sidebar-component-entity-list">
        <entity v-for="entity in entities" :entity="entity" :key="entity.id" :currentEntity="currentEntity"></entity>
    </ul>
</template>

<script type="text/babel">
    import Entity from './entity-single.vue'

    export default{
        props: {
            entities: {
                required: true,
                type: Array
            },
            currentEntity: {
                type: Object,
                default: null
            }
        },
        components: {
            Entity
        }
    }
</script>