<template>
    <vgm-map
            :center="position"
            :options="mapOptions.map"
            :zoom="10"
            map-type-id="terrain"
            ref="vgm-map">
        <vgm-marker
                :position="position"
                :clickable="true"
                :icon="mapOptions.marker.icon"
                :draggable="false">
            <vgm-info-window :opened="true">
                <slot></slot>
            </vgm-info-window>
        </vgm-marker>
    </vgm-map>
</template>

<script type="text/babel">
    import {mapGetters} from 'vuex'
    import * as VueGoogleMaps from '~/node_modules/vue2-google-maps'

    export default{
        props: {
            position: {
                required: true,
                type: Object
            }
        },
        computed: {
            ...mapGetters('map', {
                mapOptions: 'options'
            })
        },
        components: {
            vgmMap: VueGoogleMaps.Map,
            vgmMarker: VueGoogleMaps.Marker,
            vgmInfoWindow: VueGoogleMaps.InfoWindow
        }
    }
</script>

<style lang="sass" rel="stylesheet/scss">

</style>