<template>
    <li>
        <a :href="link" :title="reference.description" target="_blank">{{ reference.name }}</a>
    </li>
</template>

<script type="text/babel">
    export default{
        data(){
            return {}
        },
        props: {
            reference: {
                required: true,
                type: Object
            }
        },
        computed: {
            link() {
                return this.reference.link
            }
        }
    }
</script>

<style lang="sass" rel="stylesheet/scss">

</style>