<template>
    <container class="search-container article-search-container">
        <h1>Članki</h1>
        <input-box
                :placeholder="'Iskanje po vseh člankih ...'"
                :searchAction="searchArticles"
                @queryUpdated="updateScopedQuery">
        </input-box>
        <div class="article">
            <article-component
                    @paramsUpdated="updateScopedArticleParams"
                    :optsVisible="articleOptsVisible"
                    @toggleOpts="toggleArticleOpts">
            </article-component>
        </div>
    </container>
</template>

<script>
    import {mapGetters, mapActions, mapMutations} from 'vuex'
    import {metadata} from '../services/metadata-service'
    import ArticleComponent from '../components/search/article.vue'
    import InputBox from '../components/search/input-box.vue'
    import Container from '../containers/container'

    export default {
        fetch({app, store}) {
            let scoped = store.state.routed.article.scoped;
            return app.$api.fetch('routed.article.get', {
                search: scoped.query,
                params: scoped.params
            })
        },
        head(){
            return metadata(this.metadata, this.$nuxt.$route);
        },
        computed: {
            ...mapGetters(['metadata']),
            ...mapGetters('routed/article', ['articleOptsVisible'])
        },
        methods: {
            ...mapActions('search', ['searchArticles']),
            ...mapMutations('routed/article', {
                updateScopedQuery: 'UPDATE_SCOPED_QUERY',
                updateScopedArticleParams: 'UPDATE_SCOPED_ARTICLE_PARAMS',
                toggleArticleOpts: 'TOGGLE_ARTICLE_OPTS'
            }),
        },
        components: {
            ArticleComponent,
            InputBox,
            Container
        }
    }
</script>