<template>
    <container class="calendar-container">
        <h1>Koledar dogodkov</h1>
        <div class="event">
            <calendar-component></calendar-component>
        </div>
    </container>
</template>

<script>
    import {mapGetters} from 'vuex'
    import {metadata} from '../services/metadata-service'
    import CalendarComponent from '../components/calendar/index.vue'
    import Container from '../containers/container'

    export default {
        fetch({app}) {
            return app.$api.fetch('routed.event.calendar.get')
        },
        head(){
            return metadata(this.metadata, this.$nuxt.$route);
        },
        computed: {
            ...mapGetters(['metadata']),
        },
        created() {
            this.$store.dispatch('calendar/generateTable')
        },
        components: {
            CalendarComponent,
            Container
        }
    }
</script>