<template>
    <container class="search-container event-search-container">
        <h1>Dogodki</h1>
        <input-box
                :placeholder="'Iskanje po vseh dogodkih ...'"
                :searchAction="searchEvents"
                @queryUpdated="updateScopedQuery">
        </input-box>
        <div class="event">
            <event-component
                    @paramsUpdated="updateScopedEventParams"
                    :optsVisible="eventOptsVisible"
                    @toggleOpts="toggleEventOpts">
            </event-component>
        </div>
    </container>
</template>

<script>
    import {mapGetters, mapActions, mapMutations} from 'vuex'
    import {metadata} from '../services/metadata-service'
    import EventComponent from '../components/search/event.vue'
    import InputBox from '../components/search/input-box.vue'
    import Container from '../containers/container'

    export default {
        fetch({app, store}) {
            let scoped = store.state.routed.event.scoped;
            return app.$api.fetch('routed.event.get', {
                search: scoped.query,
                params: scoped.params
            })
        },
        head(){
            return metadata(this.metadata, this.$nuxt.$route);
        },
        computed: {
            ...mapGetters(['metadata']),
            ...mapGetters('routed/event', ['eventOptsVisible'])
        },
        methods: {
            ...mapActions('search', ['searchEvents']),
            ...mapMutations('routed/event', {
                updateScopedQuery: 'UPDATE_SCOPED_QUERY',
                updateScopedEventParams: 'UPDATE_SCOPED_EVENT_PARAMS',
                toggleEventOpts: 'TOGGLE_EVENT_OPTS'
            }),
        },
        components: {
            EventComponent,
            InputBox,
            Container
        }
    }
</script>