<template>
    <container class="search-container">
        <h1>Iskanje</h1>
        <input-box
            :placeholder="'Iskanje po vseh člankih in dogodkih ...'"
            :searchAction="searchAll"
            @queryUpdated="updateScopedQuery">
        </input-box>
        <div class="article">
            <h2>Članki</h2>
            <article-component
                @paramsUpdated="updateScopedArticleParams"
                :optsVisible="articleOptsVisible"
                @toggleOpts="toggleArticleOpts"
                class="detached-filters">
            </article-component>
        </div>
        <div class="event">
            <h2>Dogodki</h2>
            <event-component
                @paramsUpdated="updateScopedEventParams"
                :optsVisible="eventOptsVisible"
                @toggleOpts="toggleEventOpts"
                class="detached-filters">
            </event-component>
        </div>
        <!--<initiative-component></initiative-component>-->
    </container>
</template>

<script>
    //    import InitiativeComponent from '../components/search/initiative.vue'
    import {mapGetters, mapActions, mapMutations} from 'vuex'
    import {metadata} from '../services/metadata-service'
    import ArticleComponent from '../components/search/article.vue'
    import EventComponent from '../components/search/event.vue'
    import InputBox from '../components/search/input-box.vue'
    import Container from '../containers/container'

    export default {
        fetch({app, store, query}) {
            if (query.search) {
                store.commit('routed/search/UPDATE_SCOPED_QUERY', query.search);
                store.commit('routed/search/RESET_PARAMS');
            }
            let scoped = store.state.routed.search.scoped;
            return app.$api.fetch('routed.search.get', {
                search: scoped.query,
                params: scoped.params
            })
        },
        head(){
            return metadata(this.metadata, this.$nuxt.$route);
        },
        computed: {
            ...mapGetters(['metadata']),
            ...mapGetters('routed/search', ['articleOptsVisible', 'eventOptsVisible'])
        },
        methods: {
            ...mapActions('search', ['searchAll']),
            ...mapMutations('routed/search', {
                updateScopedQuery: 'UPDATE_SCOPED_QUERY',
                updateScopedArticleParams: 'UPDATE_SCOPED_ARTICLE_PARAMS',
                updateScopedEventParams: 'UPDATE_SCOPED_EVENT_PARAMS',
                toggleArticleOpts: 'TOGGLE_ARTICLE_OPTS',
                toggleEventOpts: 'TOGGLE_EVENT_OPTS'
            }),

        },
        components: {
//            InitiativeComponent,
            ArticleComponent,
            EventComponent,
            InputBox,
            Container
        }
    }
</script>