<template>
    <div class="col-lg-4 list-entity">
        <router-link :to="to" v-if="!!entity.image && showImage" class="image">
            <img v-bind:src="entity.image"/>
        </router-link>
        <div class="details-wrapper">
            <div class="details" v-if="type == 'article'">
                <span>{{ entity.category.name }}</span><span>{{ entity.date }}</span>
            </div>
            <div class="title">
                <router-link :to="to">{{ entity.name }}</router-link>
            </div>
            <div class="description">
                {{ entity.content_short | truncate(200, ' ...') }}
            </div>
            <router-link :to="to" class="read-more">Preberi članek</router-link>
        </div>
    </div>
</template>

<script type="text/babel">
    export default{
        data(){
            return {
//                to: {}
            }
        },
        props: {
            entity: {
                type: Object,
                required: true
            },
            type: {
                type: String,
                required: true
            },
            showImage: {
                required: false,
                type: Boolean,
                default: false
            }
        },
        computed: {
            to() {
                return {name: 'pages-article-show', params: {slug: this.entity.slug}}
            }
        }
    }
</script>