<template>
    <router-link :to="this.linkAsPerType">
        <slot></slot>
    </router-link>
</template>

<script type="text/babel">
    export default{
        data(){
            return {}
        },
        props: {
            link: {
                required: true,
                type: String
            },
            type: {
                required: true,
                type: String
            }
        },
        computed: {
            linkAsPerType() {
                //todo
                return this.link;
            }
        }
    }
</script>

<style lang="sass" rel="stylesheet/scss">

</style>