<template>
    <div class="container-content-sidebar">
        <slot></slot>
    </div>
</template>

<script type="text/babel">

    export default{
        data(){
            return {}
        },
        mounted(){
            $(".container-content-sidebar").stick_in_parent()
        },
        destroyed(){
            $("#sticky_item").trigger("sticky_kit:detach");
        }
    }
</script>