<template>
    <div class="datetime">
        <div class="next"></div>
        <div class="start-datetime">
            <div class="date">
                {{ event.start_at | moment('dddd, Do MMM YYYY') }}
            </div>
            <div class="time">
                {{ event.start_at | moment('HH:mm') }}
            </div>
        </div>
        <div class="end-datetime">
            <div class="date">
                {{ event.end_at | moment('dddd, Do MMM YYYY') }}
            </div>
            <div class="time">
                {{ event.end_at | moment('HH:mm') }}
            </div>
        </div>
    </div>
</template>

<script type="text/babel">
    export default{
        data(){
            return {}
        },
        props: {
            event: {
                required: true,
                type: Object
            }
        }
    }
</script>