<template>
    <div class="event-information">
        <event-date :event="event"></event-date>
        <p class="human-readable" v-if="showHumanReadable">
            <span v-if="isUpcoming" class="future">Dogodek <nuxt-link v-if="showLink" :to="link">{{ event.name }}</nuxt-link> se začne {{ event.start_at | moment("from") }}.</span>
            <span v-if="isCurrent" class="current">Dogodek <nuxt-link v-if="showLink" :to="link">{{ event.name }}</nuxt-link> je trenutno v teku.</span>
            <span v-if="isPast" class="past">Dogodek <nuxt-link v-if="showLink" :to="link">{{ event.name }}</nuxt-link> se je končal {{ event.end_at | moment("from") }}.</span>
        </p>
    </div>
</template>

<script type="text/babel">
    import fn from '../../services/calendar'
    import EventDate from './date'

    export default{
        data(){
            return {
                now: new Date()
            }
        },
        props: {
            event: {
                required: true,
                type: Object
            },
            showLink: {
                type: Boolean,
                default: true
            },
            showHumanReadable: {
                type: Boolean,
                default: true
            }
        },
        computed: {
            link() {
                return {name: 'event-slug', params: {slug: this.event.slug}}
            },
            startAtDate(){
                return new Date(this.event.start_at)
            },
            endAtDate(){
                return new Date(this.event.end_at)
            },
            isUpcoming(){
                return this.startAtDate > this.now
            },
            isCurrent(){
                return this.startAtDate <= this.now && this.now <= this.endAtDate
            },
            isPast(){
                return this.now > this.endAtDate
            }
        },
        components: {
            EventDate
        }
    }
</script>

<style lang="sass" rel="stylesheet/scss">

</style>