<template>
    <div>
        <sidebar-title>Lokacija dogodka</sidebar-title>
        <sidebar-description class="sidebar-location-container">
            <location :position="event.location.position">
                <small>
                    <b>{{ event.location.name }}</b>
                    <div v-html="address"></div>
                </small>
            </location>
            <a :href="event.location.url" target="_blank">Navodila za pot na Google Maps</a>
        </sidebar-description>
    </div>
</template>
<script>
    import Title from '../partial/sidebar/title'
    import Description from '../partial/sidebar/description'
    import Location from '../partial/sidebar/location'

    export default {
        props: {
            event: {
                required: true,
                type: Object
            }
        },
        computed: {
            address() {
                return this.event.location.address.join("<br>")
            }
        },
        components: {
            sidebarTitle: Title,
            sidebarDescription: Description,
            location: Location
        }
    }
</script>