<template>
    <sidebar-pills :clickPill.sync="activePill" :activePill="activePill" class="sidebar-component sidebar-component-pills">
        <template slot="head">
            <sidebar-pill name="headings" v-if="event.headings.length">Kazalo</sidebar-pill>
            <sidebar-pill name="references" v-if="event.references.length">Priloge</sidebar-pill>
            <sidebar-pill name="tags">Oznake</sidebar-pill>
        </template>
        <template slot="body">
            <sidebar-pill-content name="tags" class="sidebar-component-pills-tags">
                <sidebar-description>
                    <span class="tag" v-for="tag in event.tags">
                        <span>{{ tag.name }}</span>
                    </span>
                </sidebar-description>
            </sidebar-pill-content>
            <sidebar-pill-content
                    name="references"
                    class="sidebar-component-pills-references"
                    v-if="event.references.length">
                <sidebar-description>
                    <ul>
                        <sidebar-reference
                                v-for="reference in event.references"
                                :key="reference.id"
                                :reference="reference">
                        </sidebar-reference>
                    </ul>
                </sidebar-description>
            </sidebar-pill-content>
            <sidebar-pill-content name="headings">
                <div class="list-group sidebar-component spy">
                    <div class="nav">
                        <li v-for="heading in event.headings">
                            <a class="'list-group-item'" :data-target="'#' + heading.id"
                               v-scroll-to="'#' + heading.id">
                                {{ heading.name }}
                            </a>
                        </li>
                    </div>
                </div>
            </sidebar-pill-content>
        </template>
    </sidebar-pills>
</template>

<script>
    import Description from '../partial/sidebar/description'
    import Pills from '../partial/pills'
    import Pill from '../partial/pills/pill'
    import PillContent from '../partial/pills/pill-content'
    import Reference from '../partial/sidebar/reference'

    export default {
        data(){
            return {
                activePill: '' // set in created()
            }
        },
        props: {
            event: {
                required: true,
                type: Object
            }
        },
        components: {
            sidebarDescription: Description,
            sidebarPills: Pills,
            sidebarPill: Pill,
            sidebarPillContent: PillContent,
            sidebarReference: Reference,
        },
        created(){
            this.activePill = this.event.headings.length ? "headings" : this.event.references.length ? 'references' : 'tags'
        }
    }
</script>