<template>
    <div class="contact">
        <div class="form-group" :class="{'has-error': validation && errors.has('name') }">
            <label>Contact person</label>
            <input v-validate="'required|alpha|min:3'" v-model="contact.name" class="form-control"
                   type="text" name="name">
            <span class="text-danger"
                  v-show="validation && errors.has('name')">{{ errors.first('name')
                }}</span>
        </div>

        <div class="form-group" :class="{'has-error': validation && errors.has('email') }">
            <label class="control-label">Email</label>
            <input v-validate="'required|email'" v-model="contact.email" class="form-control" type="email"
                   name="email">
            <span class="text-danger"
                  v-show="validation && errors.has('email')">{{ errors.first('email')
                }}</span>
        </div>

        <div class="form-group">
            <label>Phone</label>
            <input type="text" v-model="contact.phone" class="form-control">
        </div>

        <div class="form-group">
            <label>Website Url</label>
            <input type="url" v-model="contact.website" class="form-control">
        </div>

        <div class="form-group">
            <label>Facebook Url</label>
            <input type="url" v-model="contact.facebook" class="form-control">
        </div>

        <button class="btn btn-default" @click.prevent="addContact">Add contact</button>
    </div>
</template>

<script>

    export default {
        data: () => ({
            contact: {
                name: null,
                phone: null,
                email: null,
                website: null,
                facebook: null,
            },
            validation: false,
        }),
        methods: {
            addContact() {

                this.validation = true
                this.$validator.validateAll().then((result) => {
                    if (this.errors.has('name') || this.errors.has('email')) {
                        this.validation = true
                    } else {
                        this.$store.commit('initiative/form/addContact', {contact: this.contact})
                        this.contact = {}
                        this.validation = false
                    }
                })
            },
            removeContact(index) {
                this.$store.commit('initiative/form/removeContact', index)
            }
        }
    }
</script>