<template>

    <div>

        <div class="row">
            <div class="col-md-6">
                <fieldset>
                    <legend>General Data</legend>
                    <div class="form-group" :class="{'has-error': errors.has('name') }">
                        <label class="control-label">Name</label>
                        <input :value="form.name" name="name"
                               @input="updateField('name', $event.target.value)" type="text"
                               v-validate="'required|min:3'"
                               class="form-control">

                        <span class="text-danger" v-show="errors.has('name')">{{ errors.first('name') }}</span>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Start at</label>
                        <datepicker
                                :value="form.start_at" v-on:selected="updateStartAt" :calendar-button="true"
                                :calendar-button-icon="'fa fa-calendar'" :bootstrapStyling="true"></datepicker>
                    </div>

                    <div class="form-group" :class="{'has-error': custom_errors.categories }">
                        <label class="control-label">Categories</label>
                        <v-select multiple :value="form.categories" @input="updateField('categories', $event)"
                                  :options="options.categories"></v-select>

                        <span class="text-danger"
                              v-show="custom_errors.categories">You must select at least one category</span>
                    </div>


                </fieldset>
            </div>
            <div class="col-md-6">
                <fieldset>
                    <legend>People</legend>


                    <div class="form-group" :class="{'has-error': errors.has('group_size') }">
                        <label class="control-label">Number of people involved</label>
                        <input :value="form.group_size" name="group_size"
                               @input="updateField('group_size', $event.target.value)" type="number"
                               v-validate="'required'"
                               class="form-control">

                        <span class="text-danger" v-show="errors.has('group_size')">{{ errors.first('group_size')
                            }}</span>
                    </div>

                    <div class="form-group" :class="{'has-error': custom_errors.audience }">
                        <label class="control-label">Audience</label>
                        <v-select multiple :value="form.audience" @input="updateField('audience', $event)"
                                  :options="options.audience"></v-select>

                        <span class="text-danger"
                              v-show="custom_errors.audience">You must select at least one audience</span>
                    </div>

                    <div class="form-group" :class="{'has-error': errors.has('group_size') }">
                        <label class="control-label">Audience size</label>

                        <div class="radio" v-for="(as, key) in options.audience_size">
                            <label><input v-validate:audience_size="'required'" type="radio" name="audience_size"
                                          v-model="audience_size" :value="key">{{ as }}</label>
                        </div>

                        <span class="text-danger" v-show="errors.has('audience_size')">{{ errors.first('audience_size')
                            }}</span>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="row">
            <fieldset>

                <legend>Location</legend>

                <div class="col-md-6">
                    <div class="form-group" :class="{'has-error': custom_errors.location}">
                        <label class="control-label">Choose location</label>
                        <input type="text" id="places-input" class="form-control">

                        <span class="text-danger" v-show="custom_errors.location">Need to choose a location.</span>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <input type="text" class="form-control" v-model="location.fullName"
                               @keyup.stop="updateLocation">

                    </div>

                    <div class="form-group" :class="{'has-error': errors.has('location_type') }">
                        <label class="control-label">Location Type</label>
                        <div class="radio" v-for="(loc, key) in options.location_type">
                            <label><input v-validate:location_type="'required'" type="radio" name="location_type"
                                          v-model="location_type"
                                          :value="key">{{ $t("initiative.location_type." + loc) }}</label>
                        </div>

                        <span class="text-danger" v-show="errors.has('location_type')">{{ errors.first('location_type')
                            }}</span>
                    </div>

                    <div class="form-group" :class="{'has-error': errors.has('area_size')}">
                        <label class="control-label">Area size</label>
                        <input name="area_size" v-validate="'required'" type="number" class="form-control"
                               :value="form.area_size" @input="updateField('area_size', $event.target.value)">
                        <span class="text-danger" v-show="errors.has('area_size')">{{ errors.first('area_size')}}</span>
                    </div>

                </div>

                <div class="col-md-6">


                    <gmap-map
                            :center="location.center"
                            :zoom="location.zoom"
                            style="width: 100%; height: 350px"
                    >
                        <gmap-marker
                                v-if="location.position"
                                :position="location.position"
                                :clickable="true"
                                :draggable="true"
                                @click="location.center=location.position"
                                @dragend="updateMarker"
                        ></gmap-marker>
                    </gmap-map>
                </div>

            </fieldset>
        </div>


        <!--todo: logo-->
        <!--todo: cover-->

        <div class="row">
            <fieldset>
                <legend>Contacts</legend>

                <div class="contacts">

                    <div class="col-md-6">
                    <span class="text-danger"
                          v-show="custom_errors.contacts">You must create at least one contact.</span>

                        <div class="card" v-for="(c, index) in form.contacts">
                            <button type="button" class="close" @click.prevent="removeContact(index)">
                                <span class="text-success">&times;</span>
                            </button>
                            <div class="card-block">
                                <p class="card-text">
                                    <strong>Name:</strong> <span class="pull-right">{{c.name}}</span>
                                </p>
                                <p class="card-text">
                                    <strong>Email:</strong> <span class="pull-right">{{c.email}}</span>
                                </p>
                                <p v-if="c.phone" class="card-text">
                                    <strong>Phone:</strong> <span class="pull-right">{{c.phone}}</span>
                                </p>
                                <p v-if="c.website" class="card-text">
                                    <strong>Website:</strong> <span class="pull-right">{{c.website}}</span>
                                </p>
                                <p v-if="c.facebook" class="card-text">
                                    <strong>Facebook:</strong> <span class="pull-right">{{c.facebook}}</span>
                                </p>
                            </div>
                        </div>


                    </div>

                    <div class="col-md-6">
                        <contact-component></contact-component>
                    </div>

                </div>

            </fieldset>
        </div>

        <div class="row">
            <fieldset>
                <legend>Description & Keywords</legend>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Keywords</label>
                        <input
                                type="text" :value="form.keywords"
                                @input="updateField('keywords', $event.target.value)"
                                class="form-control">
                    </div>

                    <div class="form-group" :class="{'has-error': errors.has('short_description') }">
                        <label class="control-label">Short description</label>
                        <input type="text" :value="form.short_description"
                               name="short_description"
                               v-validate="'required|min:20'"
                               @input="updateField('short_description', $event.target.value)"
                               class="form-control">

                        <span class="text-danger"
                              v-show="errors.has('short_description')">{{ errors.first('short_description')
                            }}</span>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group" :class="{'has-error': errors.has('status') }">
                        <label class="control-label">Status</label>
                        <div class="radio" v-for="(statusOpt, key) in options.status">
                            <label><input v-validate:status="'required'" type="radio" name="status"
                                          v-model="status"
                                          :value="key">{{ $t("initiative.status." + statusOpt) }}</label>
                        </div>

                        <span class="text-danger" v-show="errors.has('status')">{{ errors.first('status')
                            }}</span>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group" :class="{'has-error': errors.has('description') }">
                        <label class="control-label">Full description</label>
                        <textarea :value="form.description"
                                  @input="updateField('description', $event.target.value)"
                                  name="description"
                                  v-validate="'required|min:150'"
                                  class="form-control"></textarea>

                        <span class="text-danger"
                              v-show="errors.has('description')">{{ errors.first('description')
                            }}</span>
                    </div>
                </div>
            </fieldset>
        </div>


        <button type="button" class="btn btn-default" @click="submitForm">Submit</button>


    </div>

</template>

<script>
    import {mapGetters, mapActions, mapMutations} from 'vuex'
    import Datepicker from 'vuejs-datepicker';
    import moment from 'moment'
    import VSelect from 'vue-select'
    import ContactComponent from './Contact.vue'
    import * as VueGoogleMap from 'vue2-google-maps'
    let places = require('places.js')

    export default {
        data: () => ({
            location: {
                zoom: 14,
                name: null,
                position: null,
                fullName: null,
                center: {
                    lat: 46.0498,
                    lng: 14.5068
                }
            }
        }),
        mounted() {
            this.$store.dispatch('initiative/getOptions')

            this.$placesAutocomplete = places({
                container: document.querySelector('#places-input'),
                language: 'si',
                countries: ['si'],
            });

            this.$placesAutocomplete.on('change', result => {
                let loc = result.suggestion
                this.location.name = loc.name
                this.location.position = loc.latlng
                this.location.center = loc.latlng
                this.location.fullName = loc.name + ', ' + loc.postcode + ' ' + loc.city
                this.location.zoom = 18

                this.updateLocation()
            })
        },
        computed: {
            ...mapGetters('initiative', {
                options: 'indexOptions',

            }),
            ...mapGetters('user/initiative/form', {
                form: 'indexForm',
                custom_errors: 'indexErrors'
            }),
            status: {
                get() {
                    return this.$store.state.user.initiative.form.status
                },
                set(value) {
                    this.updateField('status', value)
                }
            },
            audience_size: {
                get() {
                    return this.$store.state.user.initiative.form.audience_size
                },
                set(value) {
                    this.updateField('audience_size', value)
                }
            },
            location_type: {
                get() {
                    return this.$store.state.user.initiative.form.location_type
                },
                set(value) {
                    this.updateField('location_type', value)
                }
            },
        },
        methods: {
            updateField(field, value) {
                this.$store.commit('user/initiative/form/updateForm', {field, value});
            },
            updateStartAt(value) {
                let date = new Date()
                date.setYear(value.getFullYear())
                date.setMonth(value.getMonth())
                date.setDate(value.getDate())

                this.$store.commit('user/initiative/form/updateForm', {field: 'start_at', value: date});
            },
            removeContact(index) {
                this.$store.commit('user/initiative/form/removeContact', index)
            },
            submitForm() {
                this.$store.dispatch('user/initiative/form/validate')

                this.$validator.validateAll().then((result) => {
                    if (result && this.custom_errors.validator) {
                        this.$store.dispatch('user/initiative/form/submit')
                    }
                })
            },
            updateMarker(event) {
                this.location.position = {
                    lat: event.latLng.lat(),
                    lng: event.latLng.lng()
                }
                this.updateLocation()
            },
            updateLocation() {
                let location = {
                    name: this.location.fullName,
                    position: this.location.position
                }
                this.$store.commit('user/initiative/form/updateLocation', {location})
            }

        },
        components: {
            Datepicker,
            VSelect,
            ContactComponent,
            'gmap-map': VueGoogleMap.Map,
            'gmap-marker': VueGoogleMap.Marker,
        }

    }
</script>