<template>
    <div class="event-search-component search-component">
        <div class="row row-filters-sorting" v-show="optsVisible">
            <div class="col-xs-12 col-lg-4 filter-segment">
                <p>Filtriranje po kategoriji</p>
                <multiselect
                        :options="options.categories"
                        :placeholder="'Izberi kategorijo'"
                        v-model="filterCategory">
                </multiselect>
            </div>
            <div class="col-xs-12 col-lg-4 filter-segment">
                <p>Filtriranje po oznakah</p>
                <multiselect
                        :options="options.tags"
                        :placeholder="'Izberi oznake'"
                        v-model="filterTags"
                        multiple>
                </multiselect>
            </div>
            <div class="col-xs-12 col-lg-4 filter-segment">
                <p>Razvrščanje</p>
                <multiselect
                        :options="options.sort_order"
                        label="label"
                        v-model="sortOrder"
                        :searchable="false"
                        :allow-empty="false">
                </multiselect>
            </div>
        </div>
        <a class="toggle-filters-sorting" href="#" @click.prevent="$emit('toggleOpts')">Filtri in razvrščanje</a>
        <a class="reset-filters" href="#" @click.prevent="resetFilters" v-if="isDirty">Ponastavi filtre</a>

        <div class="row" v-if="events">
            <card v-for="event in events" :listing="true" :key="event.id" :entity="event" :showImage="true"></card>
        </div>
        <div class="row not-found" v-else>
            <div class="col-xs-12">
                Vašim kriterijem ne ustreza noben dogodek.
            </div>
        </div>
        <paginator :data="data" :updateResults="updateResults" @scroll="scroll"></paginator>
    </div>
</template>

<script>
    import {mapGetters, mapActions, mapMutations} from 'vuex'
    import Paginator from '../paginator'
    import Card from '../partial/card'

    export default {
        props: {
            optsVisible: {
                type: Boolean,
                required: true
            }
        },
        computed: {
            ...mapGetters('search', {
                events: 'indexEventResults',
                data: 'indexEventList',
                options: 'indexEventOptions',
                params: 'indexEventParams'
            }),
            filterCategory: {
                get() {
                    return this.params.filters.category
                },
                set(value) {
                    let field = 'category';
                    this.updateFilter({field, value})
                    this.$emit('paramsUpdated', this.params)
                }
            },
            filterTags: {
                get() {
                    return this.params.filters.tags
                },
                set(value) {
                    let field = 'tags'
                    this.updateFilter({field, value})
                    this.$emit('paramsUpdated', this.params)
                }
            },
            sortOrder: {
                get() {
                    return this.params.sort_order
                },
                set(value) {
                    this.updateSortOrder(value)
                    this.$emit('paramsUpdated', this.params)
                }
            },
            isDirty(){
                return !!(this.params.filters.category || this.params.filters.tags.length)
            }
        },
        methods: {
            scroll(){
                this.$scrollTo('.event');
            },
            resetFilters(){
                this.filterTags = [];
                this.filterCategory = ''
            },
            ...mapMutations('search', {
                updateResults: 'UPDATE_EVENT_RESULTS'
            }),
            ...mapActions('search', {
                updateSortOrder: 'updateEventSortOrder',
                updateFilter: 'updateEventFilter'
            })
        },
        mounted(){
            console.log(this.data)
        },
        components: {
            Paginator,
            Card
        }
    }
</script>