<template>
    <div class="input-box-wrapper">
        <form @submit.prevent="searchAction" class="shaded search">
            <div class="input-group input-group-query">
                <input
                        type="text"
                        class="form-control"
                        :placeholder="placeholder"
                        autofocus
                        v-model="searchQuery"
                >
                <div class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </div>
        </form>
        <!--<div class="search-box">-->
        <!--<button @click.prevent="searchAll">Search</button>-->
        <!--<input type="text" :value="query" @input="updateQuery($event.target.value)">-->
        <!--</div>-->
    </div>
</template>

<script>
    import {mapGetters, mapActions, mapMutations} from 'vuex'
    export default {
        props: {
            placeholder: {
                type: String,
                default: 'Iskanje ...'
            },
            searchAction: {
                type: Function,
                required: true
            }
        },
        computed: {
            ...mapGetters('search', {query: 'indexQuery'}),
            ...mapGetters(['route']),
            searchQuery: {
                get() {
                    return this.query
                },
                set(value) {
                    this.updateQuery(value)
                    this.$emit('queryUpdated', this.query)
                }
            },
        },
        methods: {
            ...mapMutations('search', {
                'updateQuery': 'UPDATE_QUERY',
            })
        }
    }
</script>