<template>
    <div class="main-layout pages">
        <header-component></header-component>

        <div class="main-container-wrapper">
            <div class="container main-container">
                <div class="row">
                    <nuxt></nuxt>
                </div>
            </div>
        </div>

        <footer-component></footer-component>
    </div>
</template>

<script>
    import Nuxt from "../.nuxt/components/nuxt";
    import HeaderComponent from '../components/header'
    import FooterComponent from '../components/footer'

    export default {
        components: {
            HeaderComponent,
            FooterComponent,
            Nuxt
        }
    }
</script>