<template>
    <div class="main-layout error">
        <div class="main-container-wrapper">
            <div class="container main-container">
                <section class="container">
                    <h1 class="title">
                        Permakultura.si
                    </h1>
                    <h2 class="info">
                        {{ error.statusCode }}: {{ message }}
                    </h2>
                    <nuxt-link class="button" to="/" v-if="error.statusCode === 404">
                        Na domačo stran
                    </nuxt-link>
                </section>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['error'], // error.message, error.statusCode
        data(){
            return {
                warn: 'Prišlo je do napake. '
            }
        },
        head(){
            return {
                title: this.message + " | Permakultura.si",
            }
        },
        computed: {
            message(){
                let message,
                    startingNumber = Number(String(this.error.statusCode).charAt(0));

                if(startingNumber === 5){
                    message = 'Napaka na strežniku.'
                }
                else if(startingNumber === 4){
                    switch(this.error.statusCode) {
                        case 400: message = 'Slab zahtevek.'; break;
                        case 401: message = 'Neavtorizirano.'; break;
                        case 402: message = 'Zahtevano plačilo'; break;
                        case 403: message = 'Prepovedano.'; break;
                        case 404: message = 'Stran ni bila najdena.'; break;
                        case 405: message = 'Nedovoljena metoda.'; break;
                        default:  message = this.error.message;
                    }
                }else{
                    message = this.error.message;
                }
                return message;
            }
        },
        created() {
            console.log('Error ' + this.error.statusCode + ': ' + this.error.message)
        }
    }
</script>