<template>
    <div class="main-layout index">
        <header-component :shortened="false"></header-component>
        <nuxt></nuxt>

        <footer-component></footer-component>
    </div>
</template>

<script>
    import Nuxt from "../.nuxt/components/nuxt";
    import HeaderComponent from '../components/header'
    import FooterComponent from '../components/footer'

    export default {
        components: {
            HeaderComponent,
            FooterComponent,
            Nuxt
        }
    }
</script>