<template>
    <div>
        <div class="container container-index-division container-index-division-top">
            <div class="row">
                <card v-for="(article, count) in featured['top_three']" :key="article.id" :entity="article" :type="'article'"></card>
            </div>
        </div>
        <div class="container container-index-division container-index-division-featurette">
            <div class="container-content">
                <div class="featurette-wrapper" v-for="(article, count) in featured['presentation']">
                    <div class="row featurette">
                        <div :class="['featurette-content-wrapper', 'col-md-8', (count%2 != 0) ? 'col-md-push-4' : '']">
                            <h2 class="featurette-heading">{{ article.name }}</h2>
                            <div class="lead">{{ article.content_short }}</div>
                            <router-link :to="{name: 'pages-article-show', params: {slug: article.slug}}">Preberi več</router-link>
                        </div>
                        <div :class="(count%2 != 1) ? 'col-md-4' : 'col-md-4 col-md-pull-8'">
                            <img class="featurette-image img-responsive center-block" :src="article.image">
                        </div>
                    </div>
                    <hr class="featurette-divider">
                </div>
            </div>
        </div>
        <div class="container container-index-division container-index-division-title">
            <h2>Članki</h2>
        </div>
        <div class="container container-index-division container-index-division-tabs">
            <ul class="nav nav-pills">
                <li v-for="(category, count) in categorized" :key="category.id" :class="{active: count == 0}">
                    <a data-toggle="pill" :href="'#' + category.slug">{{ category.name }}</a>
                </li>
            </ul>
        </div>
        <div class="container container-index-division container-index-division-tabs-content">
            <div class="tab-content">
                <div
                    v-for="(category, count) in categorized"
                    :key="category.id"
                    :id="category.slug"
                    :class="['tab-pane', 'fade', count == 0 ? 'in active' : '']">
                    <div class="row">
                        <card v-for="article in category.articles" :key="article.id" :entity="article" :type="'article'" :show-image="true"></card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import Card from '../../components/partial/Card'

    export default {
        computed: mapGetters('routed/home', {
            featured: 'articlesFeatured',
            categorized: 'articlesCategorized'
        }),
        components: {
            Card
        }
    }
</script>