<template>
    <div class="list-entity" :class="{listing: listing, 'col-lg-4': !listing, 'col-xs-12': listing}">
        <nuxt-link :to="to" v-if="!!entity.image && showImage" class="image">
            <img v-lazy="entity.image"/>
        </nuxt-link>
        <div class="details-wrapper">
            <div class="details" v-if="entity.model === 'Article'">
                <span>{{ entity.category.name }}</span><span>spisano {{ entity.date | moment("from") }}</span>
            </div>
            <div class="details" v-if="entity.model === 'Event'">
                <span>{{ entity.category.name }}</span><span><b>{{ entity.start_at | moment('from') }}</b></span>
            </div>
            <div class="title">
                <nuxt-link :to="to">{{ entity.name }}</nuxt-link>
            </div>
            <div class="description">
                {{ entity.content_short | truncate(truncateLength, ' ...') }}
            </div>
            <nuxt-link :to="to" class="read-more">{{ readMore }}</nuxt-link>
        </div>
    </div>
</template>

<script type="text/babel">
    export default{
        data(){
            return {
//                truncateLength: 200
            }
        },
        props: {
            entity: {
                type: Object,
                required: true
            },
            listing: {
                type: Boolean,
                default: false
            },
            showImage: {
                type: Boolean,
                default: false
            }
        },
        computed: {
            to() {
                let routeName;
                if(this.entity.model === 'Article'){
                    routeName = 'article-slug'
                }
                else if(this.entity.model === 'Event'){
                    routeName = 'event-slug'
                }
                return {name: routeName, params: {slug: this.entity.slug}}
            },
            readMore() {
                let readMore;
                if(this.entity.model === 'Article'){
                    readMore = 'Preberi članek'
                }
                else if(this.entity.model === 'Event'){
                    readMore = 'Podrobnosti dogodka'
                }
                return readMore
            },
            truncateLength() {
                return this.listing ? 300 : 200
            }
        }
    }
</script>