<template>
    <nuxt-link :to="this.linkAsPerType">
        <slot></slot>
    </nuxt-link>
</template>

<script type="text/babel">
    import NuxtLink from "../../.nuxt/components/nuxt-link";

    export default{
        components: {NuxtLink},
        data(){
            return {}
        },
        props: {
            menuItem: {
                required: true,
                type: Object
            }
        },
        computed: {
            linkAsPerType() {
                let link;
                switch(this.menuItem.type){
                    case 'article_link':
                        link = {name: 'article-slug', params: {slug: this.menuItem.article.slug}};
                        break;
                    case 'internal_link':
                        if(this.menuItem.link.charAt(0) === '/'){
                            link = this.menuItem.link
                        }else{
                            link = '/' + this.menuItem.link;
                        }
                        break;
                    default:
                        link = this.menuItem.link
                }
                return link
            }
        }
    }
</script>