<template>
    <div class="component-pills">
        <ul class="nav nav-pills">
            <slot name="head"></slot>
        </ul>
        <slot name="body"></slot>
    </div>
</template>

<script type="text/babel">
    export default{
        data(){
            return {}
        },
        props: {
            activePill: String
        }
    }
</script>