<template>
    <form @submit.prevent="search" class="shaded search">
        <div class="input-group input-group-query">
            <input
                type="text"
                class="form-control"
                placeholder="Iskanje ..."
                v-model="value"
            >
            <div class="input-group-btn">
                <button class="btn btn-primary" type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
        </div>
    </form>
</template>

<script type="text/babel">
    export default{
        data(){
            return {
                value: ''
            }
        },
        methods: {
            search() {
                this.$nuxt.$router.push({name: 'search', query: {search: this.value}}, () => {
                    this.value = ''
                })
            }
        }
    }
</script>