<template>
    <div class="container-content">
        <div class="col-xs-12 container-content-inner-wrapper">
            <div class="container-content-inner">
                <slot></slot>
            </div>
        </div>
    </div>
</template>